@charset "utf-8";
/* CSS Document */

*{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}
a img{cursor:pointer;border:none;text-decoration:none;}
a{cursor:pointer;border:none;text-decoration:none;}
body{width:100%;height:100%;}
.clear{clear:both;}
.fr{float:right;}
.fl{float:left;}
.insp{border:1px solid red;}
table{border-collapse:collapse;}
.floatRight{float:right;}
.floatLeft{float:left;}
.down_link {
    border: 1px solid #cccccc;
    color: #8d8d8d !important;
    display: inline-block;
    font: 11px arial;
    padding: 5px 10px;
}
.MR4 {
    margin-right: 4px;
}
@font-face {
    font-family: 'futuramtvbold_italic';
    src: url('../font/futuramtv_bolditalic_caps_only2-webfont.eot');
    src: url('../font/futuramtv_bolditalic_caps_only2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/futuramtv_bolditalic_caps_only2-webfont.woff') format('woff'),
         url('../font/futuramtv_bolditalic_caps_only2-webfont.ttf') format('truetype'),
         url('../font/futuramtv_bolditalic_caps_only2-webfont.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'futuramtvdemibold_italic';
    src: url('../font/futuramtv_demibolditalic2-webfont.eot');
    src: url('../font/futuramtv_demibolditalic2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/futuramtv_demibolditalic2-webfont.woff') format('woff'),
         url('../font/futuramtv_demibolditalic2-webfont.ttf') format('truetype'),
         url('../font/futuramtv_demibolditalic2-webfont.svg#futuramtvdemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{ 
	font-family: 'Myriad_Pro';
	src: url('../font/myriadwebpro.eot');
	src: url('../font/myriadwebpro.eot?#iefix') format('embedded-opentype'),
	     url('../font/myriadwebpro.woff') format('woff'),
	     url('../font/myriadwebpro.ttf') format('truetype'),
	     url('../font/myriadwebpro.svg#Myriad_Pro') format('svg');
	font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	  url('../font/opensans-semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold.ttf') format('truetype'),
         url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriad-pro-semibold';
    src: url('../font/MyriadPro-Semibold.eot');
    src: url('../font/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/MyriadPro-Semibold.woff') format('woff'),
         url('../font/MyriadPro-Semibold.ttf') format('truetype'),
         url('../font/MyriadPro-Semibold.woff#myriad-pro-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'opensansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/@font-face {
    font-family: 'calibri';
    src: url('../font/calibrit.eot');
    src: url('../font/calibri.eot?#iefix') format('embedded-opentype'),
         url('../font/calibri.ttf') format('truetype'),
         url('../font/calibri.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
.FL{ float:left;}


@font-face {
    font-family: 'opensansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular.ttf') format('truetype'),
		   url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.ob-widget-header {
	 font-family: "futuramtvbold_italic";
	 line-height: 26px;
    color: #cd1044;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ob-dynamic-rec-container {
    margin-bottom: 20px;
    max-width: none;
    width: 23.5%;
	position:relative; margin-left: 0;
	list-style-type:none;
	text-decoration:none;
	height:168px;
	float:left;
	
}

.AR_1.ob-widget .ob-unit {
    display: block;
}
.ob-rec-image-container {
    position: relative;
}
.ob-rec-image-container img.ob-show {
    opacity: 1;
}
.ob-rec-image-container img.ob-rec-image {
    bottom: 0;
    left: 0;
    opacity: 1;
    position: relative;
    right: 0;
    top: 0;
    transition: all 750ms ease 0s;
    width: 100%;
}
#fifth{ margin-left:0px;}
.ob-rec-image-container .ob-rec-image {
    display: block;
}

a img {
    border: medium none;
    cursor: pointer;
    text-decoration: none;
}

.ob-dynamic-rec-container .ob-rec-text {
    background: transparent url("http://www.mtvindia.com/resources/images/white.png") repeat scroll center center;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(0, 0, 0, 0);
    font-family: "opensanssemibold";
    max-width: none;
    padding: 0 2%;
    width: 96%;
	bottom: -8px;
    box-sizing: content-box;
    height: 30px;
    position: absolute;
	 font-size: 12px;
    line-height: 1.25;
	 color: #222;
	  text-align: left;
}
.ob-dynamic-rec-container .ob-rec-source {
    background: #40d1d1 none repeat scroll 0 0;
    bottom: 36px;
    color: white;
    float: left;
    font-family: "futuramtvbold_italic";
    font-size: 12px;
    max-width: 90%;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
	position:absolute;
	text-align:left;
}
.ob-dynamic-rec-container ~ .ob-dynamic-rec-container {
    margin: 0 0 20px 2%;
}

#container{width:100%;overflow: hidden;}
.catName{ width:65px;background-color:#19c8c8; font-family: 'futuramtvdemibold_italic'; font-size:12px; color:#fff; text-transform:uppercase; padding:5px; left:0; position:relative; margin-top:-24px; text-align:center;}

/* celebs css */
.flexslider .slides > li {
    display: block !important;
}
.showssorter-res .flex-direction-nav .flex-next {
      background: url(../images/rightMobile.jpg) no-repeat scroll 0 0 !important;
    height: 28px;
    opacity: 1;
    right: 10px;
    top: 20px;
    width: 13px;
}

.showssorter-res .flexslider a{ color:#fff !important;font-family: 'futuramtvdemibold_italic'; font-size:15px;}
.innerCelebImg .flex-direction-nav .flex-next {
    background: url(../images/Right-arrow-icon.png) no-repeat scroll 0 0;
    color: transparent;
	
    height: 54px;
    right: 10px;
    width: 41px;
}
.flex-direction-nav a {
    margin: 0;
    opacity: 1;
    top: 40%;
}
.showssorter-res {
    display: none;
    height: 30px;
    margin:0px 0 10px;
    overflow: hidden;
    width: 100%;
}
.showssorter-res .flexslider { border: none !important;}

.showssorter-res ul li {
    background-color: #be1e68;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.showssorter-res .flex-direction-nav .flex-prev {
       background: rgba(0, 0, 0, 0) url(../images/leftMobile.jpg) no-repeat scroll 0 0 !important;
    height: 28px;
    left: 10px;
    opacity: 1;
    top: 20px;
    width: 13px;
}
.innerCelebImg .flex-direction-nav .flex-prev {
    background: rgba(0, 0, 0, 0) url(../images/Left-arrow-icon.png) no-repeat scroll 0 0;
    color: transparent;
    height: 54px;
    left: 10px;
    width: 41px;
}
.flex-direction-nav a {
    margin: 0;
    opacity: 1;
    top: 40%;
}

.celebImg{ width:44px; height:44px; float:left; margin-right:18px;}
.likeDiv {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.likeDivInner {
    margin: 0 auto;
    padding: 15px 0;
    width: 1220px;
}
.likeTitle {
    color: #cd1044;
    font-family: "futuramtvbold_italic";
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    padding: 0 15px;
    width: 1190px;
}

.likeImgDiv {
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
    width: 1220px;
}

.ImgInner {
    cursor: pointer;
    float: left;
    height: 168px;
    margin: 0 15px 15px;
    width: 275px;
}
.showMore {
    background-color: #dddddd;
    cursor: pointer;
    height: 28px;
    margin: 0 auto 10px;
    width: 170px;
}
.takeawaycontainer {
	margin-bottom:20px;
    width: 100%;
	margin-top:0px;
}
.fl {
    float: left;
}

.takeaway-title {
    background-color: #19c8c8;
    color: #fff;
    font-family: "futuramtvdemibold_italic";
    font-size: 20px;
    line-height: 1;
    padding: 5px 10px;
}
.takeawaywrapper {
    height: 72px;
    margin-top: 12px;
    width: 300px;
}
.appWrapper {
    height: 72px;
    margin-bottom: 12px;
    position: relative;
    width: 100%;
}
.appWrapper-left {
    float: left;
    height: 72px;
    overflow: hidden;
    width: 72px;
}
.showssorter {
    background-color: #19c8c8;
    margin-bottom:10px;
    margin-top: 10px;
    width: 100%;
}
.showssorter ul, .showssorter li {
    list-style-type: none;
}
.showssorter ul li {
    float: left;
    margin-right: 1px;
}

.showssorter ul li a.active {
    background-color: #d71c61;
}
.showssorter ul li a {
    color: #ffffff;
    display: block;
    font-family: "futuramtvdemibold_italic";
    font-size: 15px;
    line-height: 1;
    padding: 10px;
    text-transform: uppercase;
}
.showssorter ul li a:hover { background-color:#d71c61;}
a {
    border: medium none;
    cursor: pointer;
    text-decoration: none;
}
.select-style {
    background: #ffffff url("../images/Drop-Down-02.png") no-repeat scroll 90% 50%;
    border: 1px solid #7f9db9;
    float: right;
    font-size: 12px;
    margin-right: 5px;
    overflow: hidden;
    width: 93px;
}

.select-style select {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    font-size: 12px;
    width: 130%;
}
.sortTxt{
	float:left; 
    color: #333333;
    font: bold 12px arial;
    margin-right: 5px;
    margin-top: 7px;
}
.sortDiv{ float:right; margin-bottom:15px;}
.st_facebook_custom {
    background: transparent url(../images/Fb-icondl.jpg) no-repeat scroll;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: 4px;
    text-indent: -9999px;
    width: 24px;
}
.st_twitter_custom {
    background: transparent url(../images/Twitter-icondl.jpg) no-repeat scroll;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: 4px;
    text-indent: -9999px;
    width: 24px;
}
.st_whatsapp_custom{background: transparent url(../images/whatsapp-icondl.jpg) no-repeat scroll;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: 4px;
    text-indent: -9999px;
    width: 24px;
}
.st_email_custom {
    background: transparent url(../images/Mail-icondl.jpg) no-repeat scroll;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: 4px;
    text-indent: -9999px;
    width: 24px;
}

.st_sharethis_custom {
    background: transparent url(../images/Add-icondl.jpg) no-repeat scroll;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: 4px;
    text-indent: -9999px;
    width: 24px;
}
/* download css end */

/* Screen size 1200px and greater  */

/* menu main */

.menucontainer{width:100%;height:50px;background-color:#232323;}
.menucontainerinner{width:1200px;margin:0px auto;}
.menucontainerinnerleft{width:auto;}
.menucontainerinnerleft ul{list-style-type:none;}
.menucontainerinnerleft ul li{ text-transform: uppercase;height:34px;width:auto;margin:8px 25px 8px 0px;float:left;font-family:"futuramtvdemibold_italic";line-height:34px;font-size:16px;color:#fff !important;}
.menucontainerinnerleft a{ color:#FFF;}
.menucontainerinnerright{width:16%;}
#searchwrapper { width:100%;height:36px;/*background-image:url(../images/search.jpg);*/ background-color:#333;
background-repeat:no-repeat;padding:0px;margin-top:8px;position:relative;}
#searchwrapper form { display:inline ; }
.searchbox { display:block;border:0px;background-color:transparent;top:2px;left: 0; padding-left:5px;width:72%;font-family: 'opensansitalic';height:28px;color:#878787;font-size:16px;line-height:28px;}
.mobleftlogo{display:none;width:118px;height:50px;background:url(../images/moblogo.png) scroll repeat center center transparent;position:relative;}
.mobleftlogoinner{width:54px;height:50px;position:absolute;top:0px;left:0px;cursor:pointer;}
.mobleftlogoinner1{width:74px;height:50px;position:absolute;top:0px;left:54px;cursor:pointer;}

.socialicon{display: none;}
.searchpane{display: none;}

/*banner*/
.bannermain{width:100%;padding:10px 0px;background-color:#eeeeee; margin-bottom:0px !important;}
.bannermaininner{width:728px;height:90px;margin:0px auto; background-color:#333;}

/*mainsection*/
.mainsection-homepage {
  width: 100%;
  background-color: #ffffff;
  
 /* margin-bottom:20px;*/
  
}

.main-container {
  width: 1040px;
  /*height:1388px;*/
  /*position: relative;*/
  margin: 0 auto;
/* padding:10px 0px 0px;*/

}
.mainsection_left {
  width: 725px;
  height:auto;
  margin-right: 15px;
  border-left:#000;
  margin-bottom:110px;
  float:left;
}

.mainsection_right {
  width: 300px;
  
  /* margin-top: -455px;*/
    position: relative;
	float:right;
 /* min-height:1413px;*/
  
}

.subMenu{margin:13px 0px 0px 0px; width:100%; height:21px; padding:0px; display:inline-block;}
.subMenu1{height:21px; width:48px; margin-right:4px;}
.subMenu2{height:21px; width:85px;}
.mainSectionRightConnect {
  width: 100%;
  height: 26px;
 background-color: #be1e68;
  right:0;
}
.mainSectionRightConnectInner {
 font-family:"futuramtvdemibold_italic";
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  padding: 3px 7px;
}
.desc{ width:100%; height:36px; color:#FFF; /*padding:18px;*/ margin-bottom:18px;}
.leftDesc{  width: 134px; background-color:#19c8c8; height:16px; padding:10px 0px;float:left; color:#fff; font-size:15px; text-align:center;font-family: 'futuramtvdemibold_italic';}
.rightDesc{ height:100%; width: 546px; background-color:#5a465a; float:left; font-family: 'futuramtvdemibold_italic'; text-align:center;}
.banner2{ width:100%; height:340px; background-color:#333333; position:relative; margin-bottom:25px; background-image:url(../images/Banner.jpg); background-size: 100% 100%; background-repeat:no-repeat;}
.banner2Left{  display:none;width: 630px; margin-right: 67px; height:340px; background-image:url(../images/Pic-01.png); background-repeat:no-repeat; background-size: 100% 100%;}
.banner2Arrow{ width:100%; height: 54px; display:inline-block; position:absolute;  top: 40%;}
.banner2Txt{ width:476px; height: 66px; background-color:#fff; opacity: 0.70; left: 15px; bottom: 20px; color:#5a465a; font-size:24px; font-family: 'futuramtvbold_italic';  padding: 5px 10px; }
.preArrow{ width: 41px; height:100%; left: 0; float:left; background-image:url(../images/Left-arrow-icon.png); background-repeat:no-repeat;}
.nxtArrow{ width: 41px; height:100%; right: 0; float:right; background-image:url(../images/Right-arrow-icon.png); background-repeat:no-repeat;}
.divBox{height:auto; width:720px; float:left;}
.box{ margin-bottom: 7px; margin-right:10px; float:left;}
.boxImg{ width:235px; height: 130px; float:left;}
.boxTxt{ float:left; width: auto; font-family: 'opensanssemibold'; font-size:14px; line-height:23px;color:#594659; text-transform:uppercase;}
.dlTitle{  font-family: 'myriad-pro-semibold'; text-transform:uppercase;margin-bottom: 3px; font-size: 16px; line-height:26px; color:#594659; line-height:20px; width:370px;}
.dlCount{ font-family: 'Myriad_Pro'; line-height:26PX; text-transform:uppercase;  font-size: 12px; color:#777777; line-height:15px; width:370px; margin-bottom:12px;}
.dlsize{font-family: 'Myriad_Pro'; line-height:26PX; text-transform:uppercase;  font-size: 14px; color:#777777; line-height:15px; width:370px;}

.mainSectionRightConnectSocial {
  width: 100%;
  height:36px;
  margin-top:15px;
  margin-bottom:20px;
  margin-left:6px;
}
.mainSectionRightConnectSocial > ul{ list-style-type:none; float:left; }
.mainSectionRightConnectSocial ul li{ float:left;  width:36px; height:38px; margin-right:18px; background-color:#999;}
.mainSectionRightConnectSocial img{width:38px; height:38px;padding:0px; float:left;}
.advertisement1 {
	  background: #cf1044 none repeat scroll 0 0;
    height: 340px;
    position: relative;
    width: 100%;
 
}
.ad1{ font-family: "futuramtvdemibold_italic"; font-size:22px; color:#fff; margin:0 auto; text-align:center;}
.adImg{ width: 280px; margin:0 auto;}
.addDesc{ width:280px; height:40px; margin:0 auto; padding:10px 0px; background-color:#ffffff; font-size:13px; color:#594659;}
.takeaway{ width:100%; height:280px; margin-bottom:20px;}
.advertisement2 {
  width: 100%;
  height: 250px;
  margin-bottom:18px;
  
}
.video_title{ width: 100%; background-color: #be1e68;right:0; margin-top:10px; height: 32px; }
.video_titleTxt{font-family: "futuramtvdemibold_italic";
height: 26px;
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  padding: 6px 8px;}
.video_wrapper{width:100%; height:168px; margin-top:11px; background-color:#666; }
.trending_title{ width: 100%; background-color: #be1e68;right:0; margin-top:15px;}
.trending_titleTxt{font-family: "futuramtvdemibold_italic";
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  padding: 3px 7px;}
.trendingBox{width:301px; height:168px; margin-top:11px;}
.footer{width:100%;}
.footerup {
  width: 100%;
  background-color: #dddddd;
  padding: 12px 0px;
  text-align: center;
}
.footerdn {
  width: 100%;
  background-color: #1a1a1a;
  padding: 12px 0px;
}

.footerdn1 {
  width: 521px;
  margin: 5px auto;
}
.footerdn1 ul {
  list-style-type: none;
}
.footerdn1 ul li {
  padding: 0px 10px;
  width: auto;
  color: #ffffff;
  font-family: 'futuramtvdemibold_italic';
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  float: left;
}
.footerdn2 {
  width: 750px;
  margin: 5px auto;
}
.footerdn2 ul {
  list-style-type: none;
}
.footerdn2 ul li {
  width: 150px;
  float: left;
}


.footerdn2 ul li div {
  width: 150px;
  color: #aaaaaa;
  font-family:"opensansregular";
  font-size: 11px;
  line-height: 14px;
  text-align: left;
  margin-bottom: 4px;
}
.footerdn2 ul li div a {
  color: #aaaaaa;
  text-decoration: none;
}



.footerdn2 ul li div:first-child {
  color: #ffffff;
   font-family: "opensans_semibold";
}
.footerdn4 {
  width: 100%;
  text-align: center;
  margin: 25px auto;
  display: none;
}

.footerdn4 ul, .footerdn4 ul li {
  list-style-type: none;
}

.footerdn4 ul li {
  display: inline-block;
  margin-right: 20px;
}
.footerdn4 ul li a {
  display: block;
  width: 24px;
  height: 24px;
}

.footerdn3 {
  width: auto;
  margin: 5px auto;
  color: #aaaaaa;
  font-family: 'opensansregular';
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}
.leftSection {
    
    width: 725px;
	margin-top:10px;
}
.rightSection {
    width: 300px;
	margin-top:54px;
}
.banner2Right{ width: 300px; height:340px; float:right;}
.show7682{  margin: 45px auto 20px; width:300px; height:36px;}
.select_episode_top{ display:none;

    background-color: #40d1d1 !important;
    border-radius: 0 !important;
    line-height: 38px;
    font-family: futuramtvbold_italic;
}

.styled-select {
    background: rgba(0, 0, 0, 0) url(../images/selectarrow.png?v=2) no-repeat scroll 97% 50%;
    height: 34px;
    overflow: hidden;
    width: 100%;
}
.styled-select select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: futuramtvbold_italic;
    font-size: 15px;
    height: 34px;
    line-height: 1;
    padding: 5px 5px 5px 14px;
    width: 100%;
}
.styled-select select option {
    background: #59465a none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: futuramtvbold_italic;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 5px 5px 5px 14px;
    width: 100%;
}
@media (min-width:320px) and (max-width:479px){
	
	/* new css*/
		.showssorter-res { display:block;}
	.showssorter{display:none;}
	.showssorter { margin-top:0px;}
	.likeDivInner { width:305px;}
	.likeTitle{ width:272px;}
	.likeImgDiv{ width:100%;}
	.likeTitle{ line-height:20px; font-size:18px;}
.select_episode_top{ display:block; width: 100%;}
.leftSection { margin-top: 0px; width:100%;}
.sortDiv {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.sortTxt { margin-left:10px;}
.submenumobile{display:block; width:100%; height:20px; background-color:#000; color:#fff !important; font-size:16px; padding:10px 7px;}
.rightSection { display:none;}
.advertisement1 { background-color:#fff; height:309px;}
.ad1 { background-color:#cf1044; margin-bottom:10px;}
.adImg { width: 245px;}

.addDesc { width: 245px;}


.banner2 { height: 240px; margin-bottom:20px; width:100%;}
.banner2Left { display:block;background-image:url(../images/Pic-01.jpg); background-repeat:no-repeat; margin:0px; width:100%; height:240px; margin-bottom:15px;}

.banner2Right { width:100%; float:left; height:309px; margin-bottom: 25px;}

.mainsection_left { clear:both; float:none;width:100%; margin:0 auto;}
.box { height:auto !important; margin-bottom: 30px;}

.boxImg { width: 100%; float:left; height:168px;}
.boxImg > img{ height: 168px; width: 100%;}
.dlTitle { font-size: 17px;}

.boxTxt { width: 100%; margin-bottom:5px;}

.dlTitle { width: 100%; font-size: 15px; line-height: 18px; margin-bottom: 5px; line-height: 15px;}
.dlCount { width: 100%;}
.box {float: none;margin: 0 auto 30px;width: 95%;}
.show7682{ display:block;}
.video_titleTxt { text-align:center;}
.trending_titleTxt { text-align:center;}

/* end nw css */
	#right768{ display:none;}
#right1024{ display:none;}
#sub_main768{ display:none;}
#menu{ display:block; width:50px; height:50px; border-right: 1px solid #666; margin:0px 25px 0px 0px;}
#blog{ display:none;}
#buzz{ display:none;}
#video{ display:none;}
#photo{ display:none;}
#movie{ display:none;}
#dl{ display:none;}
#sch{ display:none;}
#show{ display:none;}
#act{ display:none;}
#quiz{ display:none;}
#horo{ display:none;}
#logo{ display:block;}

  

.bannermain { background-color:#333;}
.bannermaininner { background-color:#666;}
.subMenu{display:none;}
.submenumobile{display:block; width:100%; height:22px; background-color:#000; margin-bottom: 11px; color:#fff !important; font-size:16px; padding:10px 7px;}
.main-container { padding-top:0px;}
.desc{display:none;}
.subMenu11{margin-right:12px; margin-left:18px; font-family: "opensanssemibold";}
.submenumobile a{ color:#fff; }

.mainsection_right{ clear:both;}
.main-container { width:100%;}
.divBox{  width:100%; margin:0px auto 15px; display:inline-block;}
.mainsection_right { width:100%; margin:0 auto;}
.mainSectionRightConnect{ display:none;}
.mainSectionRightConnectSocial{ display:none;}


.advertisement2 { width: 300px; margin:0 auto;}

.video_wrapper { margin:11px auto 0px auto; width:302px;}

.trendingBox { width:302px; margin:11px auto 0px auto; clear:both;}
.trending_title { height: 32px;}
.trending_titleTxt { font-size: 22px; height:26px;  padding: 6px 8px;}

.menucontainerinnerright{display:none;}
.menucontainerinnerleft {
    display: none;
}
#searchwrapper {
    display: none;
}
.mobleftlogo {
    display: block;
}
.socialicon {
    display: block;
}
.socialicon a {
    display: block;}
.search{ display:block}
#btnSearch{ display:block;}
.socialicon {
    border-left: 1px solid #333333;
    height: 50px;
    width: 55px;

}

.socialicon a.search {
    background: rgb(0,0,0) url(../images/socal-search.png) no-repeat scroll 0 0;
}
.socialicon a {
    display: block;
    height: 50px;
    transition: none 0s ease 0s ;
    width: 55px;
}
.footerdn1 { display: none;}
.footerdn2 ul { display:none;}
.footerdn2 ul li{display:none;}
.footerdn2 ul li div {display:none;}
.footerdn3{ display:block;}
.footerdn4{display:block; float:left;}
.menucontainerinner { width:100%;}
.signName{ color:#fff; font-size: 12px; text-align:center; width:100%; margin: 0px auto; padding-top:15px;   font-family: 'futuramtvbold_italic';}
.signInfo{ font-family: 'calibri'; font-size: 6px; color:#fff; overflow:hidden; width:80%; margin:0 auto; text-align:center;}
hr{ margin: 7px auto 5px; height:3px; width: 30px; background-color: #fff;}
.read{ font-family: 'futuramtvbold_italic'; font-size: 9px;width:100%; color:#412a58; margin:0 auto; text-align:center;}
.innerdiv{ margin:5px auto;}
}
@media (min-width:480px) and (max-width:599px){
		.showssorter-res { display:block;}
	.showssorter{display:none;}
	.ImgInner { width:212px; height:120px;  margin: 0 10px 15px;}
	
.likeDivInner { width:465px;}
.likeTitle{ width:94%; font-size:16px; line-height:24px;}
.likeImgDiv{ width:100%;}
	.select_episode_top{ display:block; width: 95%; margin:20px auto 0px; float:none;}
.leftSection { margin-top: 0px; width:100%; margin-right:0px;}
.sortDiv {
    float: none;
    height: 26px;
    margin: 0 auto 15px;
   
    width: 95%;
}
.sortTxt { margin-left:10px;}
/* new css*/
.showssorter { display: block;}

.submenumobile{display:block; width:100%; height:20px; background-color:#000; color:#fff !important; font-size:16px; padding:10px 7px;}
.rightSection { display:none;}
.advertisement1 { background-color:#fff; height:309px;}
.ad1 { background-color:#cf1044; margin-bottom:10px;}
.adImg { width: 245px;}

.addDesc { width: 245px;}


.banner2 { height: 240px; margin-bottom:20px; width:100%;}
.banner2Left { display:block;background-image:url(../images/Pic-01.jpg); background-repeat:no-repeat; margin:0px; width:100%; height:240px; margin-bottom:15px;}

.banner2Right { width:100%; float:left; height:309px; margin-bottom: 30px;}

.mainsection_left { clear:both; float:none;width:100%; margin:0 auto;}
.box { height: auto;}

.boxImg { width: 100%; height:250px; float:left;}
.boxImg > img{ background-size: 100% 100%; height: 250px; width: 100%;}
.boxTxt{ margin-bottom:5px;}
.dlTitle { font-size: 17px;}


.dlsize { width:100%;}
.down_link { margin-bottom:5px;}

.dlTitle { width: 100%; font-size: 15px; line-height: 18px; margin-bottom: 5px; line-height: 15px;}
.dlCount { width: 100%;}
.box{ float: none; margin:0 auto; width:95%;}
.show7682{ display:block;}
.video_titleTxt { text-align:center;}
.trending_titleTxt { text-align:center;}

/* end nw css */
	#right768{ display:none;}
#right1024{ display:block;}
#sub_main768{ display:none;}
#menu{ display:block; width:50px; height:50px; border-right: 1px solid #666; margin:0px 25px 0px 0px;}
#blog{ display:none;}
#buzz{ display:none;}
#video{ display:none;}
#photo{ display:none;}
#movie{ display:none;}
#dl{ display:none;}
#sch{ display:none;}
#show{ display:none;}
#act{ display:none;}
#quiz{ display:none;}
#horo{ display:none;}
#logo{ display:block;}


.bannermain { background-color:#333;}
.bannermaininner { background-color:#666;}
.subMenu{display:none;}
.main-container { padding-top:0px;}
.desc{display:none;}
.subMenu11{margin-right:12px; margin-left:18px; font-family: "opensanssemibold";}
.submenumobile a{ color:#fff; }
.trending_title { height: 32px;}
.trending_titleTxt { font-size: 22px; height:26px;  padding: 6px 8px;}


.mainsection_right{ clear:both;}
.main-container { width:100%;}
.mainsection_right { width:100%; margin:0 auto;}
.mainSectionRightConnect{ display:none;}
.mainSectionRightConnectSocial{ display:none;}



.advertisement2 { width: 300px; margin:0 auto;}

.video_wrapper { margin:11px auto 0px auto; width:302px;}

.trendingBox { width:302px; margin:11px auto 0px auto; clear:both;}


.menucontainerinnerright{display:none;}
	


#right768{ display:none;}
#right1024{ display:none;}
#sub_main768{ display:none;}
#menu{ display:block; width:50px; height:50px; border-right: 1px solid #666; margin:0px 25px 0px 0px;}
#blog{ display:none;}
#buzz{ display:none;}
#video{ display:none;}
#photo{ display:none;}
#movie{ display:none;}
#dl{ display:none;}
#sch{ display:none;}
#show{ display:none;}
#act{ display:none;}
#quiz{ display:none;}
#horo{ display:none;}
#logo{ display:block;}
.menucontainerinnerright{display:none;}
.menucontainerinnerleft {
    display: none;
}

#searchwrapper {
    display: none;
}
.mobleftlogo {
    display: block;
}
.socialicon {
    display: block;
}
.socialicon a {
    display: block;}
.search{ display:block}
#btnSearch{ display:block;}
.socialicon {
    border-left: 1px solid #333333;
    height: 50px;
    width: 55px;

}

.socialicon a.search {
    background: rgb(0,0,0) url(../images/socal-search.png) no-repeat scroll 0 0;
}
.socialicon a {
    display: block;
    height: 50px;
    transition: none 0s ease 0s ;
    width: 55px;
}
.footerdn1 { display: none;}
.footerdn2 ul { display:none;}
.footerdn2 ul li{display:none;}
.footerdn2 ul li div {display:none;}
.footerdn3{ display:block;}
.footerdn4{display:block; float:left;}
.menucontainerinner { width:100%;}
.divBox{width:100%; margin:0px auto 15px; display:inline-block;}
hr{ margin: 7px auto 5px; height:3px; width: 35px; background-color: #fff;}
.read{ font-family: 'futuramtvbold_italic'; font-size: 10px;width:100%; color:#412a58; margin:0 auto; text-align:center;}
.innerdiv{ margin:7px auto;}


}
@media (min-width:600px) and (max-width:767px){
		.showssorter-res { display:block;}
	.showssorter{display:none;}
	.ImgInner { width:212px; height:120px;  margin: 0 10px 15px;}
	
.likeDivInner { width:465px;}
.likeTitle{ width:94%; font-size:16px; line-height:24px;}
.likeImgDiv{ width:100%;}
	

	.showssorter { display:block;}
	.select_episode_top{ display:block; width: 95%; margin:20px auto 0px; float:none;}
.leftSection { margin-top: 0px; width:100%; margin-right:0px;}

.sortDiv {
    float: none;
    height: 26px;
    margin: 0 auto 15px;
   
    width: 95%;
}
.sortTxt { margin-left:10px;}


		/* new css*/
.submenumobile{display:block; width:100%; height:20px; background-color:#000; color:#fff !important; font-size:16px; padding:10px 7px;}
.rightSection { display:none;}
.advertisement1 { background-color:#fff; height:309px;}
.ad1 { background-color:#cf1044; margin-bottom:10px;}
.adImg { width: 245px;}

.addDesc { width: 245px;}


.banner2 { height: 240px; margin-bottom:20px; width:100%;}
.banner2Left { display:block;background-image:url(../images/Pic-01.jpg); background-repeat:no-repeat; margin:0px; width:100%; height:240px; margin-bottom:15px;}

.banner2Right { width:100%; float:left; height:309px; margin-bottom: 30px;}

.mainsection_left { clear:both; float:none;width:100%; margin:0 auto;}
.box { height: auto;}

.boxImg { width: 100%; height:260px; float:left;}
.boxImg > img{ height: 260px; width: 100%;}
.dlTitle { font-size: 17px;}

.boxTxt { width: 100%; margin-bottom:5px;}

.dlTitle { width: 100%; font-size: 15px; line-height: 18px; margin-bottom: 5px; line-height: 15px;}
.dlCount { width: 100%;}
.box {float: none;margin: 0 auto;width: 95%;}
.show7682{ display:block;}
.video_titleTxt { text-align:center;}
.trending_titleTxt { text-align:center;}

/* end nw css */
	#right768{ display:none;}
#right1024{ display:block;}
#sub_main768{ display:none;}
#menu{ display:block; width:50px; height:50px; border-right: 1px solid #666; margin:0px 25px 0px 0px;}
#blog{ display:none;}
#buzz{ display:none;}
#video{ display:none;}
#photo{ display:none;}
#movie{ display:none;}
#dl{ display:none;}
#sch{ display:none;}
#show{ display:none;}
#act{ display:none;}
#quiz{ display:none;}
#horo{ display:none;}
#logo{ display:block;}
/*#searchwrapper{margin-right:5px; width:87%;float:left;}
.searchbox{ width:87%;}
.searchbox_submit{ width:13%;}

  */

.bannermain { background-color:#333;}
.bannermaininner { background-color:#666;}
.subMenu{display:none;}
.main-container { padding-top:0px;}
.desc{display:none;}
.subMenu11{margin-right:12px; margin-left:18px; font-family: "opensanssemibold";}
.submenumobile a{ color:#fff; }
.trending_title { height: 32px;}
.trending_titleTxt { font-size: 22px; height:26px;  padding: 6px 8px;}


.mainsection_right{ clear:both;}
.main-container { width:100%;}
.mainsection_right { width:100%; margin:0 auto;}
.mainSectionRightConnect{ display:none;}
.mainSectionRightConnectSocial{ display:none;}



.advertisement2 { width: 300px; margin:0 auto;}

.video_wrapper { margin:11px auto 0px auto; width:302px;}

.trendingBox { width:302px; margin:11px auto 0px auto; clear:both;}


.menucontainerinnerright{display:none;}
	

/*.main-container { height:2082px;}*/
#right768{ display:none;}
#right1024{ display:none;}
#sub_main768{ display:none;}
#menu{ display:block; width:50px; height:50px; border-right: 1px solid #666; margin:0px 25px 0px 0px;}
#blog{ display:none;}
#buzz{ display:none;}
#video{ display:none;}
#photo{ display:none;}
#movie{ display:none;}
#dl{ display:none;}
#sch{ display:none;}
#show{ display:none;}
#act{ display:none;}
#quiz{ display:none;}
#horo{ display:none;}
#logo{ display:block;}
.menucontainerinnerright{display:none;}
.menucontainerinnerleft {
    display: none;
}

#searchwrapper {
    display: none;
}
.mobleftlogo {
    display: block;
}
.socialicon {
    display: block;
}
.socialicon a {
    display: block;}
.search{ display:block}
#btnSearch{ display:block;}
.socialicon {
    border-left: 1px solid #333333;
    height: 50px;
    width: 55px;

}

.socialicon a.search {
    background: rgb(0,0,0) url(../images/socal-search.png) no-repeat scroll 0 0;
}
.socialicon a {
    display: block;
    height: 50px;
    transition: none 0s ease 0s ;
    width: 55px;
}
.footerdn1 { display: none;}
.footerdn2 ul { display:none;}
.footerdn2 ul li{display:none;}
.footerdn2 ul li div {display:none;}
.footerdn3{ display:block;}
.footerdn4{display:block; float:left;}
.menucontainerinner { width:100%;}
.divBox{width:100%; margin:0px auto 15px; display:inline-block;}
hr{ margin: 7px auto 5px; height:3px; width: 35px; background-color: #fff;}
.read{ font-family: 'futuramtvbold_italic'; font-size: 10px;width:100%; color:#412a58; margin:0 auto; text-align:center;}
.innerdiv{ margin:7px auto;}		
}
@media (min-width:768px) and (max-width:1023px){
	
	/*new css */
	.likeImgDiv{ width:100%;}
	.show7682{display:block;}
	.banner2 { height: 242px;}
	.banner2Img { width: 431px; background-size: 100% 100%;}
	
.banner2Txt { font-size: 20px; right: 20px;}
#right768 {  position: absolute;
    right: 0;}
	.divBox {
    width: 720px;
}
.ImgInner { width:160px; height:90px; margin: 0 8px 10px;}
.likeDivInner { width:705px;}
.showMore{ width: 100px; height:15px;}
.likeTitle{ font-size:14px; line-height:20px;}
.boxImg { width:230px; height:127px;}
.mainsection_left {
    width: 711px; margin:0 auto; float:none;}

.rightSection { display:none;}
.leftSection{ width:710px;margin-top: 0px;}

.advertisement1 {
    height: 100%;
    margin-top: 0px;
}
.banner2Right {
    height: 242px;
    width: 220px;
	margin-right: 25px;
}
.ad1 { font-size:16px;}

.adImg { width: 200px; height:130px;}
.addDesc { width:200px;}
	/* end new css */
	.main-container {
	width:100%; float:left;
	/*height:1458px;*/
	}

.title{ width:377px; text-align:center;}
.subDesc{width:377px; text-align:center;}
.searchbox_submit {right: 0; width:4%;}

.mainsection_right { width:300px;}	
.mainSectionRightConnect { display:none;}
.mainSectionRightConnectSocial{display:none;}

.advertisement2 { height:242px;}
.subMain{ width:621px;  margin: 55px auto 20px; /*height:640px;*/}
.upperdiv{width:100%; height:auto; display:inline-block; margin-bottom:20px;}
.trending_title{width:302px; height:26px;}
.bottomdiv{height:auto; width:100%; margin-bottom:20px;}
.trendingBox{width: 301px; height: 135px;position:relative; float:left; margin-right:9px; padding:0px; background-color:#339;}
.trending_title { height: 32px;}
.trending_titleTxt { font-size: 22px; height:26px;  padding: 6px 8px;}
#trendBox2, #trendBox4{margin-right:0px;}
/*.main-container {
    height: 1458px;}*/
.video_title { width:100%;}
.videoBox{width:302px;margin-right:20px; position:relative;}
.video_wrapper { width:100%; background-color:#999;}
.advertisement2{width:300px; height:250px; position:relative; float:right; margin-top:-213px; background-color:#999;}
.footerdn1 { display: none;}
.footerdn2 ul { width:600px; margin:0 auto;}
.footerdn2 ul li{ width:120px;}
.footerdn2 ul li div { width:120px;}
.footerdn3{display:none;}
.menucontainerinnerright { float:left;}
#right768{ display:block;}
#right1024{ display:none;}
#sub_main768{ display:none;}
#menu{ display:block; width:50px; height:50px; border-right: 1px solid #666; margin:0px 25px 0px 0px;}
#blog{ display:none;}
#buzz{ display:none;}
#video{ display:none;}
#photo{ display:none;}
#movie{ display:none;}
#dl{ display:none;}
#sch{ display:none;}
#show{ display:none;}
#act{ display:none;}
#quiz{ display:none;}
#horo{ display:none;}
#logo{ display:block;}

.submenumobile{display:none;}

/*.mainsection_right { height: 825px;}
.main-container {
  height: 1480px;
}*/
.menucontainerinnerright{display:none;}
.menucontainerinnerleft {
    display: none;
}
#searchwrapper {
    display: none;
}
.mobleftlogo {
    display: block;
}
.socialicon {
    display: block;
}
.socialicon a {
    display: block;}
.search{ display:block}
#btnSearch{ display:block;}
.socialicon {
    border-left: 1px solid #333333;
    height: 50px;
    width: 55px;

}

.socialicon a.search {
    background: rgb(0,0,0) url(../images/socal-search.png) no-repeat scroll 0 0;
}
.socialicon a {
    display: block;
    height: 50px;
    transition: none 0s ease 0s ;
    width: 55px;
}
hr{ margin: 7px auto 5px; height:3px; width: 35px; background-color: #fff;}
.read{ font-family: 'futuramtvbold_italic'; font-size: 10px;width:100%; color:#412a58; margin:0 auto; text-align:center;}
.innerdiv{ margin:7px auto;}


}




@media (min-width: 1024px) and (max-width: 1279px) {
	
	/*new css */
	.ob-dynamic-rec-container { height:96px;}
	.ob-widget-header { padding:5px 0px;}
	.ob-widget-header { font-size:14px;}
    .ob-dynamic-rec-container .ob-rec-source { padding:2px; bottom:30px;}
	.ob-dynamic-rec-container .ob-rec-text { bottom:0; font-size:10px; border:none;}
	.likeImgDiv{ width:100%;}
	.banner2Img { margin-left: 32px;}
	.rightDesc { width: 490px;}
	.mainsection_left { margin-bottom:15px;}
	.leftSection { width: 620px;}
	.show7682{display:none;}
	/* end new css */
	#logo{display:none;}
	#quiz{display:none;}
	#horo{display:block;}
	#act{margin-right:25px;}
	.menucontainerinner {
    margin: 0 auto;
    width: 1107px;
}
.main-container {
	width: 960px;
	}
.menucontainerinnerleft{ margin-left:70px;}
.menucontainerinnerleft ul li a:hover{ color:#d84b21;}
.mainsection_right { width:300px;}
.desc{ width: 630px;}
.title{ width:608px; text-align:center;}
.subDesc{width:608px; text-align:center;}
.divBox{ width: 639px;}
#msg{margin-right:0px;}
.trendingBox { height: 170px;}
.signBox{ width: 203px; height: 183px;}
.signBox1{ width: 203px; height: 183px;}
.flip-container{width: 203px; height: 183px;}
.mainsection_left { width:638px;}	
#right1024{display:block;}
#right768{display:none;}
#sub_main768{display:none;}	
#menu{ display:none;}
.submenumobile{display:none;}	
.menucontainerinnerright{ width:15%; float:left;}
.menucontainerinnerleft ul li {margin: 8px 18px 8px 0;}
.menucontainerinnerleft {
    margin-left: 56px;
}
.trending_title { height: 32px;}
.trending_titleTxt { font-size: 22px; height:26px;  padding: 6px 8px;}
.searchbox{ padding-top:2px;}
.signName{ color:#fff; font-size: 20px; text-align:center; width:100%; margin: 0px auto 10px; padding-top:15px;   font-family: 'futuramtvbold_italic';}
.signInfo{ font-family: 'calibri'; font-size: 14px; color:#fff; overflow:hidden; width:87%; margin:0 auto; text-align:center;}
hr{ margin: 15px auto 10px; height:3px; width: 55px; background-color: #fff;}
.read{ font-family: 'futuramtvbold_italic'; font-size: 14px;width:100%; color:#412a58; margin:0 auto; text-align:center;}
.show7682{display:block;}
.ImgInner { width:150px; height:83px;margin: 0 8px 10px;}
.likeTitle{font-size:14px; line-height:17px; margin-bottom:5px;}
.likeDivInner { width: 665px;}
.likeImgDiv{ margin-bottom:0px;}
.showMore { width:93px; height:15px;}
.boxImg { width:200px; height:115px;}
}

@media (min-width: 1280px){
	#right1024{display:block;}
	.show7682{display:none;}
#logo{display:block;}
#right768{display:none;}
#sub_main768{display:none;}
#menu{ display:none;}
.submenumobile{display:none;}
.searchbox{ padding-top:2px;}


.trending_title { height: 32px;}
.trending_titleTxt { font-size: 22px; height:26px;  padding: 6px 8px;}	
.divBox{height:auto; width:735px; }
.signName{ color:#fff; font-size: 20px; text-align:center; width:100%; margin: 0px auto 10px; padding-top:15px;   font-family: 'futuramtvbold_italic';}
.signInfo{ font-family: 'calibri'; font-size: 14px; color:#fff; overflow:hidden; width:80%; margin:0 auto; text-align:center;}
hr{ margin: 15px auto 10px; height:3px; width: 55px; background-color: #fff;}
.read{ font-family: 'futuramtvbold_italic'; font-size: 14px;width:100%; color:#412a58; margin:0 auto; text-align:center;}
}
	


