@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.c {
  padding: 1em;
}

.main { float:left; width:45%;
padding:10px; 
  background-color: #8e352e;
}

.sb { float:left; width:25%;
padding:10px;
  background-color: #c84c44;
}

.sb-2 { float:left; width:25%;
padding:10px;
  background-color: #a53d36;
}
#mobileMain{ display:none;}
@media(min-width: 1024px) and (max-width:1279px){
.main { width:43%;}
}
@media(min-width: 768px) and (max-width:1023px){
.sb { float:right;}
.sb-2{ float:right;}
.main { width:69.5%;}
}
@media(min-width: 320px) and (max-width:767px){
	#mobileMain{ display:block;}
	#main{display:none;}
.main { width:95%; float:left;}
.sb { float:left; width:95%;}
.sb-2{ float:left; width:95%;}

}
