@charset "utf-8";
/* CSS Document */

.pageTitle{ width:100%; margin-bottom:70px; border-bottom:2px solid #CCC; font-size:30px; line-height:70px; color:#000; text-align:center; font-weight:bolder;}
.img-circle { width:200px !important; height:200px !important;}
.circleOuter{ width:215px; height:215px; text-align:center; border-radius:50%; border:3px solid #999; margin:0 auto; padding:5px;}
.btn-default{ background-color:#69C !important; color:#fff !important; font-weight:bolder !important;}
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
	

.col-lg-4{ padding-top:15px !important; padding-bottom:15px !important;}
.col-lg-4:hover{ border: 1px solid #999; background-color:#e5e5e5; border-radius:5px; margin-top:-30px;  box-shadow: 5px 5px 10px 0px #ccc;}
.col-lg-4:hover .rotate{ -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);}