@charset "utf-8";
/* CSS Document */

*{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}
body{width:100%;height:100%;}
@font-face {
    font-family: 'myriadwebpro';
    src: url('fonts/myriadwebpro.eot');
    src: url('fonts/myriadwebpro.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadwebpro.woff') format('woff'),
         url('fonts/myriadwebpro.ttf') format('truetype'),
         url('fonts/myriadwebpro.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura-bold';
    src: url('../fonts/futura-bold.eot');
    src: url('../fonts/futura-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-bold.woff') format('woff'),
         url('../fonts/futura-bold.ttf') format('truetype'),
         url('../fonts/futura-bold.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* new css */
sup {
    vertical-align: super;
    font-size: 10px;
}
.condition a{color:#333333; text-decoration:underline;}
.DivInputBoxContainerLeft{background-color:#0d0c0a;}
.DivInputBoxContainerLeft768{background-color:#0d0c0a;}
.DivInputBoxContainerLeft320{background-color:#0d0c0a;}

.clear{clear:both;}
.clInputKeyName{color:#000; padding:11px 0px;}
.arrow{background-image:url(../images/arrow_black.png); width:11px; height:8px; float:right; position:relative; margin-top:-28px; margin-right:10px;}
.clInputKeyNameAgree{color:#000;}
#DivInputBoxContainerLeft{width:50%; float:left;  background:#0d0c0a;}
#DivInputBoxContainer{width:50%; float:left; background:#FFF;}
.leftTxt{display:none;}
.formTxtDiv{width: 100%; margin-bottom:30px; color:#a60c1b; font-size:18px; text-transform:uppercase;font-family: 'futura-bold';}
.clMaxSizeContainer{margin-left:20px; margin-right:20px;}
.clMaxSizeContainer1{width:100%;}
.clKeyValueSizing{ width:77%;}
.clKeyValueSizing1{ width:75%;}
.clInputTextBox {width:96%;}
.noteDiv{margin-left:20px; margin-right:20px;}
.noteTxt{ font-size:11px; color:#333333;font-family: 'myriadwebpro'; line-height:16px; margin-left:25%;}
.note{font-size:11px; color:#333333;font-family: 'myriadwebpro';line-height:16px; margin-left:25%;}
.container{ width:100%; overflow:hidden !important;}
/*.header{width:100%; height:110px; background-color:#222222;}*/
.headerInner{width:1260px; margin:0 auto; height:100%;}
/*.bannerDiv{width:740px; height:90px; float:left; margin:0px 118px 0px 250px; }*/
.imgDiv{ width:728px; height:100%; float:left;}
.add{ width:12px; height:100%; float:left;}
/*.socialLogo{height:20px; padding-top:80px;}*/
.socialLogo ul {list-style-type:none;margin:0;padding:0;}
.socialLogo ul li{  height:20px; float:left; margin-right:20px;}
.socialLogo ul li:last-child{margin-right:0px;}
li:last-child{margin-right:0px;}
.subBar{ width:100%; height:50px; background-color:#fff; box-shadow:0px 5px rgba(3,0,0, 0.1); position:relative; z-index:100;}
.subBarLogo{ width:auto; height:30px; padding:10px 0px; float:left; margin-right:30px;}
.subBarMenu{width:400px; padding:14px 30px; background-color:#e7e7e7; float:left; cursor:pointer;}
.subMenu{ color:#555555; font-size:16px; font-family: 'futura-bold'; text-transform:uppercase; float:left;}
.seperator{ width:2px; height:100%; float:left; background-color:#cfcfcf; margin:0px 15px; display:block; color:#cfcfcf} 
.selectedArrow{ width:15px; height:8px; float:left; margin-left:-145px; margin-top:44px;}
.section1{width:100%; display:inline-block;border-bottom:1px solid #fff;}
.title{ width:320px; height:50px; position:relative;  margin:0 auto -50px; z-index: 9;} 
.section2{ width:100%; display:inline-block;border-bottom:1px solid #fff;}
.subSection1{ width:33.3333%; height:640px; float:left; background:url(../images/01-fit-test.jpg) no-repeat; background-size:100% 100%;} 
.subSection1:hover{background:url(../images/01-fit-test-hover.jpg) no-repeat; background-size:100% 100%;} 
.subSection2{ width:33.3333%; height:640px; float:left; background:url(../images/02-semi.jpg) no-repeat; background-size:100% 100%; } 
.subSection3{ width:33.3333%; height:640px; float:left; background:url(../images/03-final.jpg) no-repeat; background-size:100% 100%;} 
.subSection2:hover{background:url(../images/02-semi-hover.jpg) no-repeat; background-size:100% 100%;} 
.subSection3:hover{background:url(../images/03-final-hover.jpg) no-repeat; background-size:100% 100%;} 
.section3{ width:100%; border-top:1px solid #fff;}
.condition{margin-left:25%;line-height:16px;}
.subBar768{display:none; box-shadow:0px 5px rgba(3,0,0, 0.1); position:relative; z-index:100;}
#DivInputBoxContainerLeft{width:50%; float:left;  height:inherit;background:#0d0c0a;}
.phaseSection {max-height:640px;min-height:300px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}
.phase{max-height:640px; height:100%; float:left; width:33.33%; display:block;min-height:300px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}
.phase img{width:100%; height:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}
.contenthover { padding:0px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3 { line-height:20px; padding:0 30px 0 30px; text-align:center;  font-size:13px; font-family:"myriadwebpro"; font-weight:bold;}
.contenthover p { line-height:20px; padding:0 30px 0 30px; text-align:center;  font-size:13px; font-family:"myriadwebpro"; font-weight:normal;}
.contenthover a.mybutton { display:block;  width:140px; margin:0 auto; opacity:1.0 !important;   background:#fff none repeat scroll 0 0; color:#000; padding:10px; font-size:13px; font-family:"myriadwebpro"; font-weight:bold;}
.contenthover a.mybutton:hover { background:#fff }
.ch_hover{background:rgba(0,0,0,0.8) !important; }
#DivInputBoxContainerLeft{width:50%; float:left; height:inherit; background:#0d0c0a;}
#DivInputBoxContainerLeft768{display:none;}
#DivInputBoxContainerLeft320{display:none;}
.exactCenter { 
	width:380px; 
	height:90px; 
	background-color: #008d87; 
	color:#FFF;
	text-align:center;
	position:absolute;
	font-family:"futura-bold";
	text-transform:uppercase;
}
.bottomChkbox{
	width:16px; height:16px; background:url(../images/uncheck_box.png) no-repeat;
}

.bottomChkboxChkd{
	width:16px; height:16px; background:url(../images/check_box.png) no-repeat;
}
#center_1{font-size:16px; margin-top:15px;}
#center_2{font-size:12px;}
#center_2 span{font-size:16px;}

@media (min-width: 1024px) and (max-width:1279px){
	 .subBar{padding-left:10px;}
	.headerInner{width:100%;}
	.clMaxSizeContainer{ margin-left:20px; margin-right:20px;}
.clMaxSizeContainer1{width:100%;}
.clKeyValueSizing{ width:68%;}
.clKeyValueSizing1{ width:75%;}
.clInputTextBox {width:96%;}
}

@media (min-width: 768px) and (max-width:1023px){
	.headerInner{width:97%; padding:0px 10px;}
	.clKeyValueSizing1 { width:75%;}
	.bannerDiv { width:730px;}
	.section3{border-top:none;}
	.noteDiv { margin-bottom:20px;}
	.bannerDiv{margin:0 auto; float:none; padding:10px 0px;}
	.socialLogo{display:none;}
	.add{display:none;}
	.subBar{display:none;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.part2{ width:100%; height:40px; background-color:#79000a; }
	.section1{display:none;}
	.section2{display:none;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	#DivInputBoxContainerLeft{display:none;}
	#DivInputBoxContainerLeft768{ display:block; background:url('../images/video-ipad.jpg') no-repeat top center; width:100%; float:none; height:400px;
	 background-size:100% 100%;}
	#DivInputBoxContainerLeft320{display:none;}
	#DivInputBoxContainer{width:100%; float:none;}
	.leftTxt{ display:block; padding:20px 10px 30px; background-color:#000; font-size:18px; text-transform:uppercase; color:#cccccc;font-family: 'futura-bold';}
	.leftTxt span{ color:#b6761b;font-family: 'futura-bold';}
	.arrow{margin-top:-26px;}
}

@media (min-width: 600px) and (max-width:767px){
	.headerInner{width:97%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; float:none; padding:10px 0px; width:580px;}
	.imgDiv{width:580px;}
	.socialLogo{display:none;}
	.add{display:none;}
	.subBar{display:none;}
	.section3{border-top:none;}
	.clKeyValueSizing1 {width:75%;}	
	.noteDiv { margin-bottom:20px;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.part2{ width:100%; height:40px; background-color:#79000a; }
	.section1{display:none;}
	.section2{display:none;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	#DivInputBoxContainerLeft{display:none;}
	#DivInputBoxContainerLeft768{ display:block; width:100%; float:none; height:400px;
	 background:url('../images/video-ipad.jpg') no-repeat top center; }
	#DivInputBoxContainerLeft320{display:none;}
	#DivInputBoxContainer{width:100%; float:none;}
	.leftTxt{ display:block; padding:20px 10px 30px;font-family: 'futura-bold'; background-color:#000; font-size:18px; text-transform:uppercase; color:#cccccc;}
	.leftTxt span{ color:#b6761b;font-family: 'futura-bold';}
	.arrow{margin-top:-23px;}
}

@media (min-width: 480px) and (max-width:599px){
	.clMaxSizeContainer {margin:0px 10px;}
	.clKeySizing {margin-bottom:10px;}
	.clKeyValueSizing {width: 94%;}
	.condition{margin-left:25%;}
	#location{display:none;}
	.clKeyValueSizing1 {width: 75%;}
	.noteDiv { margin-left:20px; margin-bottom:20px;}
	.header{ height:40px;}
	.headerInner{width:95%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; width:100%; float:none; padding:10px 0px; height:40px;}
	.imgDiv{width: 100%;}
	.socialLogo{display:none;}
	.add{display:none;}
	.subBar{display:none;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.part2{ width:100%; height:40px; background-color:#79000a; }
	.section1{display:none;}
	.section2{display:none;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	#DivInputBoxContainerLeft320{ display:block; width:100%; float:none; height:250px;
	background:url('../images/video-ipad.jpg') no-repeat top center;}
    #DivInputBoxContainerLeft{display:none;}
	#DivInputBoxContainerLeft768{ display:none;  }
	#DivInputBoxContainer{width:100%; float:none;}
	.leftTxt{ display:block; padding:20px 10px 30px;font-family: 'futura-bold'; background-color:#000; font-size:18px; text-transform:uppercase; color:#cccccc;}
	.leftTxt span{ color:#b6761b;font-family: 'futura-bold';}
	.section3{border-top:none;}
	.arrow{margin-top:-22px;}
}
@media (max-width:480px){
.note{margin-left:0px;}
.noteTxt{margin-left:0px;}
.condition{margin-left:0px !important;}
.noteDiv{margin-left:10px !important; margin-right:10px !important;}
#DivInputBoxContainerLeft320{ display:block; width:100%; float:none; height:250px;background:url('../images/video-mobile.jpg') no-repeat top center;}
}

@media (min-width: 1920px){
.clInputTextBox { width:96%;}
.clKeyValueSizing { width: 84%;}
.clKeyValueSizing1 { width: 75%;}
.morevidoes { width:100.5%;}
.arrow{margin-top:-26px !important;}
}

@media (min-width: 320px) and (max-width:479px){
	.condition{margin-left:0px;}
	.clMaxSizeContainer {margin:0px 10px;}
	.clKeySizing {margin-bottom:10px;}
	.clKeyValueSizing {width: 94%;}
	#location{display:none;}
	.noteDiv { margin-left:10px; margin-bottom:20px;}
	.header{ height:40px;}
	.headerInner{width:94%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; width:100%; float:none; padding:10px 0px; height:40px;}
	.imgDiv{width: 100%;}
	.socialLogo{display:none;}
	.add{display:none;}
	.subBar{display:none;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.part2{ width:100%; height:40px; background-color:#79000a; }
	.section1{display:none;}
	.section2{display:none;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	#DivInputBoxContainerLeft320{ display:block; width:100%; float:none; height:250px;
	 background:url('../images/video-mobile.jpg') no-repeat top center;}
    #DivInputBoxContainerLeft{display:none;}
	#DivInputBoxContainerLeft768{ display:none; width:100%; float:none; height:400px;
	 background-size:100% 100%;}
	#DivInputBoxContainer{width:100%; float:none;}
	.leftTxt{ display:block;font-family: 'futura-bold'; padding:20px 10px 30px; background-color:#000; font-size:18px; text-transform:uppercase; color:#cccccc;}
	.leftTxt span{ color:#b6761b;font-family: 'futura-bold';}
	.section3{border-top:none;}
	.arrow{margin-top:-21px;}
}
	.phaseSection{display:none;
	}
	#desktop-roller{display:none;}
@media (min-width: 1024px){
	.phaseSection{display:block;}
	.arrow{margin-top:-22px;}
}

