@charset "utf-8";
/* CSS Document */

*
{
	margin: 0px;
	padding: 0px;
}
a{ text-decoration:none; }
.clear{ clear:both;}
@font-face { font-family: 'futura_bold';
    src: url('../fonts/futura-bold.eot');
    src: url('../fonts/futura-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-bold.woff') format('woff'),
         url('../fonts/futura-bold.ttf') format('truetype'),
         url('../fonts/futura-bold.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
	font-family: 'Myriad-Pro';
	src: url('../fonts/myriadwebpro.eot');
	src: url('../fonts/myriadwebpro.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/myriadwebpro.woff') format('woff'),
	     url('../fonts/myriadwebpro.ttf') format('truetype'),
	     url('../fonts/myriadwebpro.svg#webfont') format('svg');
	font-weight: normal;
    font-style: normal;
}
.wrapper_main {overflow: hidden; width: 100%;}
.menuMob {float: right; width: 40px; background: rgba(0,0,0,0.1); height: 40px; cursor: pointer;}
.menuMobIcon {float: right; background: url(../images/lines.png) no-repeat; width: 20px; height: 15px; margin: 12px 10px;}
.header{ width:100%;}
.headerTop{ width:100%; height:90px; padding:10px 0px; background-color:#d92143;}
.headerBottom{ width:100%; height:50px; z-index:999; position:relative; background-color:#c31e3c; box-shadow: 0 5px rgba(0, 0, 0, 0.1);}
.main_container{ width:980px; padding:0px 10px; margin:0 auto;}
.bannerDiv{ height:90px; float:right;}
.leftAdd{ width:728px; height:90px; float:left; background-color:#000;}
.rightAdd{ width:12px; height:90px; float:left;}
.logo{ width:229px; height:98px; float:left; margin-top:-30px; position:absolute;}
.headerMenuDiv{ float:left; margin-top:15px; margin-left:265px;}
.menu{font-family: 'futura_bold'; cursor:pointer; float:left; display:none; font-size:14px; color:#fff; margin-right:40px; text-transform:uppercase;}
.menu:last-child{ margin-right:0px;}
.headerMenuDiv ul li{ list-style-type:none;}
.headerMenuDiv ul li a{ color:#fff; text-decoration:none;}
.socialIcon{ float:right; margin-top:17px;}
.socialIcon ul li{ list-style-type:none;}
.socialLogo{ margin-right:20px; float:left; cursor:pointer;}
.socialLogo:last-child{ margin-right:0px;}
.section1{ width:100%; height:400px;background:url(../images/section1bg.jpg) no-repeat center center;float:left;}
.section2{ width:100%; height:390px; float:left; background-color:#013277; box-shadow: 0 -5px rgba(0, 0, 0, 0.1);}
.aboutTitle{ width:280px; margin:0px auto 20px; padding:10px 0px; background-color:#4e0a43; font-family: 'futura_bold'; font-size:14px; color:#fff; text-align:center; text-transform:uppercase; }
.projectOuter{ width:100%; float:left;}
.projectDiv{ width:326px; float:left;}
.projImg{ width:200px; height:200px; margin:0 auto 15px;}
.projTitle{ width:100%; margin-bottom:10px;font-family: 'futura_bold'; font-size:16px; line-height:25px; color:#fff; text-align:center; text-transform:uppercase;}
.projDesc{font-family: 'Myriad-Pro'; margin:0 auto; font-size:13px; line-height:18px; color:#fff; text-align:center; width:306px; opacity:0.7;}
.section3{ width:100%; float:left; box-shadow: 0 -5px rgba(0, 0, 0, 0.1);}
.section3Inner{ width:960px; padding:20px 10px 0px;}
.formTitle{font-family: 'futura_bold'; font-size:16px; margin-bottom:6px; color:#3b0034; text-transform:uppercase; line-height:22px;}
.formDesc{font-family: 'Myriad-Pro'; font-size:13px; line-height:18px; color:#333333; margin-bottom:20px;}
.formDiv{ width:100%;}
.inputDiv{ width:100%; margin-bottom:20px; float:left;}
.inputTitle{ width:160px;font-family: 'Myriad-Pro'; font-size:13px; line-height:16px; color:#333333; margin-top:10px; font-weight:bold; text-align:left; text-transform:uppercase; float:left;}
.Input{ width: calc(100% - 177px); padding:10px 0px 10px 15px; border:1px solid #999999; float:left;font-family: 'Myriad-Pro'; font-size:13px; color:#333333; opacity:0.7; border-radius:10px;}
.inputTitle1{ width:100%; margin-bottom:7px;font-family: 'Myriad-Pro'; font-size:13px; color:#333333; margin-top:10px; font-weight:bold; text-align:left; text-transform:uppercase; float:left;}
.Input1{ width:calc(100% - 18px); padding:10px 0px 10px 15px; border:1px solid #999999; float:left;font-family: 'Myriad-Pro'; font-size:13px; color:#333333; opacity:0.7; border-radius:10px;}
.upload{ width:80px; height:37px; background:url(../images/browser.png) no-repeat; background-size:100% 100%; text-align:center; margin-top:-37px;position:relative;float:right; cursor:pointer;}
.inputupload{ opacity:0; position:absolute; cursor:pointer;width:80px; height:37px; position:relative;float:right;}
.Submit{ width:150px; cursor:pointer; height:40px; background:url(../images/submit-button.png) no-repeat; background-size:100% 100%; float:right; margin-top:10px; margin-bottom:50px;}
.inputSubmit{ opacity:0; cursor:pointer;}
.footer{ width:100%; height:60px; float:left; background-color:#111111;}
.footerInner{ width:960px; padding:0px 10px;}
.parle{ width:77px; height:36px; float:left; margin-right:15px; margin-top:14px;}
.footerSocial{ float:left; margin-top:20px;}
.socialImg{ width:20px; height:20px; float:left; margin-right:10px;}
.socialImg:last-child{ margin-right:0px;}
.footerSocial ul li{ list-style-type:none;}
.footertxt{float:right;font-family: 'Myriad-Pro'; font-size:13px; color:#fff; opacity:0.3; margin-top:23px;}
.responsiveHeader{ width:100%; z-index:999; float:left; display:none;}
.respHeaderTop{ width:100%; height:90px; padding:10px 0px; float:left; background-color:#222222;}
.respBanner{ height:90px; padding:0px 10px; width:97%; cursor:pointer;}
.respHeaderBottom{ width:100%; float:left; height:80px; z-index:999;}
.respBottomTop{ width:100%; height:40px; background-color:#080810; float:left;}
.respBottomBottom{ width:100%; height:40px; background-color:#d60a1f; float:left;}
.respParleLogo{ width:55px; height:25px; float:left; margin-top:8px; margin-right:10px;}
.respSeperator{ width:1px; height:20px; margin-top:10px; margin-right:10px; background-color:#2d2d34; float:left;}
.respMTVLogo{ width:32px; height:20px; float:left; margin-top:10px; cursor:pointer;}
.respTitle{ float:left; font-family: 'futura_bold'; font-size:18px; line-height:25px; margin-bottom:7px; color:#fff; margin-top:8px; text-transform:uppercase;}
.respSection1{ width:100%; height:400px; cursor:pointer; float:left; background-image:url(../images/video-ipadjunk.jpg); background-position:top center; background-repeat:no-repeat;/*background-size:100% 100%;*/ display:none;}
.respSection2{ width:100%; float:left; padding:15px 0px 30px; background-color:#013277; display:none;}
.respDesc{font-family: 'Myriad-Pro'; font-size:13px; color:#fff; opacity:0.7; line-height:18px; float:left;}
.logoTxt{float:left; display:none; width:220px; height:50px; background:url(../images/THE-junk-yard-project.png) no-repeat; background-size:100% 100%;}
@media(min-width: 768px) and (max-width: 1023px){
	.main_container { width:97%;}
	.responsiveHeader{ display: block;}
	.header{ display:none;}
	.respSection1{ display:block;}
	.section1{ display:none;}
	.respSection2{ display:block;}
	.section2{ display:none;}
	.section3 { box-shadow:none;}
    .section3Inner { width:100%; padding:20px 0px 0px 0px;}
	.parle { display:none;}
	.footerSocial { display:none;}
	.footerInner { width:100%; padding:0px;}
}

@media(min-width: 600px) and (max-width: 767px){
	.main_container { width:97%;}
	.responsiveHeader{ display: block;}
	.header{ display:none;}
	.respSection1{ display:block;}
	.section1{ display:none;}
	.respSection2{ display:block;}
	.section2{ display:none;}
	.section3 { box-shadow:none;}
    .section3Inner { width:100%;padding:20px 0px 0px 0px;}
	.parle { display:none;}
	.footerSocial { display:none;}
	.footerInner { width:100%; padding:0px;}
	.respBanner { width:96%; height:72px;}
	.respHeaderTop { height:72px;}

}
@media(min-width: 480px) and (max-width: 599px){
	.main_container { width:96%;}
	.responsiveHeader{ display: block;}
	.header{ display:none;}
	.respSection1{ display:block; height:250px; background-image:url(../images/video-mobilejunk.jpg); background-position:top center; background-repeat:no-repeat;/*background-size:100% 100%;*/ }
	.upload { margin-right:5px;}
	.section1{ display:none;}
	.respSection2{ display:block;}
	.section2{ display:none;}
	.section3 { box-shadow:none;}
    .section3Inner { width:100%; padding:20px 0px 0px 0px;}
	.parle { display:none;}
	.footerSocial { display:none;}
    .footerInner { width:100%; padding:0px;}
	.inputTitle { width:100%; margin-bottom:8px;}
	.Input { width: calc(100% - 20px);}
	.Submit { margin-right:5px;}
	.Input1 {width: calc(100% - 20px);}
	.respBanner { width:95%; height:57px;}
	.respHeaderTop { height:57px;}
	
}

@media(min-width: 320px) and (max-width: 479px){
	.main_container { width:95%;}
	.responsiveHeader{ display: block;}
	.header{ display:none;}
	.respSection1{ display:block; height:250px; background-image:url(../images/video-mobilejunk.jpg); background-position:top center; background-repeat:no-repeat; /*background-size:100% 100%;*/}
	.upload { margin-right:5px;}
	.section1{ display:none;}
	.respSection2{ display:block;}
	.section2{ display:none;}
	.section3 { box-shadow:none;}
    .section3Inner { width:100%; padding:20px 0px 0px 0px;}
	.parle { display:none;}
	.footerSocial { display:none;}
    .footerInner { width:100%; padding:0px;}
	.inputTitle { width:100%; margin-bottom:8px;}
	.Input { width: calc(100% - 22px);}
	.footertxt { margin-right:10px;}
	.Submit { margin-right:5px;}
	.Input1 {width: calc(100% - 22px);}
	.respBanner { width:95%; height:37px;}
	.respHeaderTop { height:37px;}
	
}