*
{
	margin: 0px;
	padding: 0px;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-HvCn';
    src: url('../fonts/HelveticaNeueHeavyCond/HelveticaNeueLTStd-HvCn.eot');
    src: url('../fonts/HelveticaNeueHeavyCond/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueHeavyCond/HelveticaNeueLTStd-HvCn.woff') format('woff'),
         url('../fonts/HelveticaNeueHeavyCond/HelveticaNeueLTStd-HvCn.ttf') format('truetype'),
         url('../fonts/HelveticaNeueHeavyCond/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futuramtvbold_italic';
    src: url('../fonts/futuramtv_bolditalic_caps_only/futuramtv_bolditalic_caps_only-webfont.eot');
    src: url('../fonts/futuramtv_bolditalic_caps_only/futuramtv_bolditalic_caps_only-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuramtv_bolditalic_caps_only/futuramtv_bolditalic_caps_only-webfont.woff') format('woff'),
         url('../fonts/futuramtv_bolditalic_caps_only/futuramtv_bolditalic_caps_only-webfont.ttf') format('truetype'),
         url('../fonts/futuramtv_bolditalic_caps_only/futuramtv_bolditalic_caps_only-webfont.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/RobotoRegular/roboto-regular-webfont.eot');
    src: url('../fonts/RobotoRegular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futuramtvdemibold_italic';
    src: url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.eot');
    src: url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.woff') format('woff'),
         url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.svg#futuramtvdemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
.fr{
	float: right;
}
.fl{
	float: left;
}
.clear{
	clear: both;
}
img{
	max-width: 100%;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}

/* =========================== Styling for Header begins here ========================== */
.header{
	width: 100%;
	height: 160px;
}
.adbanner-container{
	width: 100%;
	background-color: #b92b1a;
	height: 90px;
	padding: 10px 0px;
}
.container{
	width: 1000px;
	position: relative;
	margin: 0 auto;
}
.advtbanner {
    background: url("../images/advtband.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    height: 90px;
    padding-right: 12px;
    width: 728px;
}
.top-nav-container{
	width: 100%;
	background-color: #d6c57c;
	height: 50px;
}

.logo-desktop-mtvJunkyardProject {
    position: relative;
    width: 300px;
}
.logo-desktop-mtvJunkyardProject  img{
	position : absolute;
	top: -30px;
}
.top-navigation {
    margin-left: 300px;
}
.top-navigation ul li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    vertical-align: middle;
}

.top-navigation ul li a {
    color: #3c0034;
    display: block;
    font-family: 'futuramtvbold_italic';
    font-size: 17px;
    padding: 0 15px;
    text-transform: uppercase;
}
.social-nav {
    margin-top: 14px;
    width: auto;
}
.social-nav ul li {
    list-style-type: none;
    margin-right: 9px;
}

.social-nav ul li.last {
    margin-right: 0;
}

.social-nav ul li a {
    display: block;
    height: 100%;
    width: 100%;
}
.icon-mtv {
    background: url("../images/icon-mtv.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    width: 35px;
}
.icon-fb {
    background: url("../images/icon-fb.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    width: 23px;
}
.icon-twitter {
    background: url("../images/icon-twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    width: 23px;
}

/* =========================== Styling for Spotlight begins here ========================== */

.spotlightpanel{
	background: url('../images/skin.png') no-repeat top center;
    height: 460px;
    width: 100%;
}
.spotlight-text{
	width: 330px;
	height: 300px;
	background-color: #faf1d8;
	margin-top: 65px;
}
.spotlight-title{
	width: 290px;
	height: 65px;
	line-height: 65px;
	font-family: 'futuramtvbold_italic';
	font-size: 38px;
	color: #ffffff;
	padding: 0px 20px;
	background-color: #621479;
}
.spotlight-desc{
	color: #333333;
    font-family: "robotoregular";
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    padding: 20px;
}
.spotlight-videosection{
	width: 520px;
	height: 390px;
	margin-left: 80px;
	margin-top: 45px;
}

/* =========================== Styling for About Junkyard begins here ========================== */

.aboutjunkyard{
	width: 100%;
	background: url('../images/about-junkyardBg.jpg') no-repeat top center;
	height: 367px;
}
.section-title{
	font-family: 'futuramtvdemibold_italic';
	color: #ffffff;
	font-size: 15px;
	padding: 10px;
	background-color: #3b0033;
	width: 230px;
	text-transform: uppercase;
	line-height: 10px;
	margin: 20px 0px;
}
.aboutsteps{
	width: 100%;
}
.aboutWrapper{
	width: 260px;
	padding: 0px 10px 10px 10px;
	
}
.aboutWrapper.middle{
	margin: 0px 80px;
}
.aboutImage{
	text-align: center;
}
.aboutTitle{
	font-family: 'futuramtvbold_italic';
	font-size: 23px;
	color: #2b0025;
	text-transform: uppercase;
	margin: 15px 0px;
}
.aboutText{
	font-family: 'robotoregular';
	color: #333333;
	font-size: 13px;
	line-height: 20px;
}

/* =========================== Styling for Videos section begins here ========================== */

.videoPlaylistSection{
	width: 100%;
	background-color: #b92b1a;
	height: 390px;
}
.home-latest-video {
    width: 100%;
}
.home-latest-video ul {
	width: 100%;
	overflow: hidden;
	height: 235px;
	padding-bottom: 34px;
	border-bottom: 1px dotted #d4d4d4;
}
.home-latest-video ul li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}
.home-latest-video ul li:last-child{
	margin-right: 0px;
}
.home-latest-video ul li div > a{
	display: block;
}
.video-container {
	width: 320px;
	height: 235px;
	cursor: pointer;
	position: relative;
}
.video-thumbnail-container {
	width: 320px;
	height: 180px;
	position: relative;
	overflow: hidden;
}
.video-thumbnail {
	width: 320px;
	height: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: scale(1);
	transform-origin: 50% 50% 0;
	transition-duration: 5s;
}
.video-thumbnail.onhoverScale{
	transform: scale(1.2);
    transform-origin: 50% 0 0;
}
.video-thumbnail-hover {
	width: 320px;
	height: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: url('../images/hover-overlay.png') repeat 0 0;
}
.video-desc {
	height: 35px;
	padding: 10px 45px;
	background: url('../images/icon-play.png') no-repeat 0 0;
	font-size: 13px;
	color: #ffffff;
	font-family: 'robotoregular';
}
.view-more-btn {
	width: 90px;
	height: 25px;
	background-color: #dd085d;
	font-family: 'futuramtvdemibold_italic';
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	float: right;
	text-transform: lowercase;
}
.view-more-btn a{
	color: #ffffff;
	display: block;
}
.view-more-btn:hover {
	background-color: #16a89f;
}

/* =========================== Styling for Photos section begins here ========================== */

.home-photos-container {
	width: 100%;
	background: url('../images/about-junkyardBg.jpg') repeat-y top center;
	height: 400px;
}
.home-latest-photos {
	width: 100%;
}
.home-latest-photos ul {
	width: 100%;
	overflow: hidden;
	height: 235px;
	padding-bottom: 34px;
	border-bottom: 1px dotted #d4d4d4;
}
.home-latest-photos ul li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}
.home-latest-photos ul li:last-child{
	margin-right: 0px;
}
.home-latest-photos ul li div>a{
	display: block;
}
.photos-container {
	width: 320px;
	height: 235px;
	cursor: pointer;
	position: relative;
}
.photos-thumbnail-container {
	width: 320px;
	height: 180px;
	position: relative;
	overflow: hidden;
}
.photos-thumbnail {
	width: 320px;
	height: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: scale(1);
	transform-origin: 50% 50% 0;
	transition-duration: 5s;
}
.photos-thumbnail.onhoverScale{
	transform: scale(1.2);
    transform-origin: 50% 0 0;
}
.photos-thumbnail-hover {
	width: 320px;
	height: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: url('../images/hover-overlay.png') repeat 0 0;
}
.photos-desc {
	height: 35px;
	padding: 10px 50px;
	background: url('../images/icon-photo.png') no-repeat 0 0;
	font-size: 13px;
	color: #333333;
	font-family: 'robotoregular';
}
/* =========================== 1023 to 768 =========================== */
@media screen and (max-width: 1023px) {
	.container{
		width: 100%;
	}
	.aboutWrapper.middle {
		margin: 0 60px;
	}
	.home-latest-video ul li{
		margin-right: 10px;
	}
	.home-latest-photos ul li{
		margin-right: 10px;
	}
}