*
{
	margin: 0px;
	padding: 0px;
	border: 0;font-size: 100%;font: inherit;vertical-align: baseline;
}
a{ text-decoration:none; }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
    display: block
}
body {
    line-height: 1;width:100%;height:100%;
}
ol,ul {
    list-style: none
}
blockquote,q {
    quotes: none
}
blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
textarea {
    overflow: auto
}
abbr,span.abbr {
    border-bottom: none
}
html, 
body{
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.4em;
    border:0px;
    padding:0px;
    margin:0px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
.clear {
    clear: both;
    height: 0
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
    overflow: hidden
}
.hidetext {
    text-indent: -3000em;
    white-space: nowrap;
    overflow: hidden
}
@font-face {
    font-family: 'myriadwebpro';
    src: url('../fonts/myriadwebpro.eot');
    src: url('../fonts/myriadwebpro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadwebpro.woff') format('woff'),
         url('../fonts/myriadwebpro.ttf') format('truetype'),
         url('../fonts/myriadwebpro.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-bold';
    src: url('../fonts/futura-bold.eot');
    src: url('../fonts/futura-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-bold.woff') format('woff'),
         url('../fonts/futura-bold.ttf') format('truetype'),
         url('../fonts/futura-bold.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuraDemibold';
    src: url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.eot');
    src: url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.woff') format('woff'),
         url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/FuturaMTVDemiBoldItalic/futuramtv_demibolditalic-webfont.svg#futuramtvbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
.fl{float:left;}
/* Styling for Header */
/*.header{
	width: 100%;
	background-color: #ffffff;
}*/
.top-nav{
	width: 100%;
	height: 50px;
}
.toggel-menu{
	width: 50px;
	height: 50px;
}
.sponser-nav{
	padding: 8px 10px;
}
.header-graphics{
	width: 100%;
	height: 145px;
	background: url('../images/hd-videos.jpg') no-repeat top center;
	overflow: hidden
}
.header-graphics hr{
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	margin-top: 4px;
}

.headerInner{width:1260px; margin:0 auto; height:100%;}
.imgDiv{ width:728px; height:100%; float:left;}
.add{ width:12px; height:100%; float:left; display:none;}
.socialLogo ul {list-style-type:none;margin:0;padding:0;}
.socialLogo ul li{  height:20px; float:left; margin-right:20px;}
.socialLogo ul li:last-child{margin-right:0px;}
.clear{clear:both;}
.subBar{ width:100%; height:50px; background-color:#fff; box-shadow:0px 5px rgba(3,0,0, 0.1); overflow:hidden !important;}
.subBar768{display:none;}
section1{width:100%; display:inline-block;border-bottom:1px solid #fff;}
.exactCenter { width:380px; height:90px; background-color: #008d87; color:#FFF;	text-align:center; position:absolute; font-family:"futura-bold"; text-transform:uppercase;}
#center_1{font-size:16px; margin-top:15px;}
#center_2{font-size:12px;}
#center_2 span{font-size:16px;}
.moreblogs{margin-bottom: 10px; margin-top:0px; padding: 10px 20px; border:1px solid #cfcfcf; border-radius: 5px;color:#333333; font:13px 'myriadwebpro'; text-transform: uppercase; display: block;}
.menuBG{width:445px; background:rgba(11,11,11,0.1); float:left;}
.separator{width:2px; height:15px; background:#cfcfcf; float:left;}
.logoImg{float:left; }
.menuMob{float:right; width:40px; background:rgba(0,0,0,0.1); height:40px; cursor:pointer; }
.menuMobIcon{float:right;  background:url(../images/lines.png) no-repeat; width:20px; height:15px; margin:12px 10px;}
.pullmenu{left:0px;}
.pullmenu2{left:100px;}
#showLeftMenu{	width: 60px;	height: 50px;}
.arrowIcon{background:url(../images/Arrow-01.png) no-repeat 0px 5px; width:3px; height:5px; padding:10px 10px 0px 0px; float:left}
.cbp-spmenu-vertical a:hover .arrowIcon{background:url(../images/Arrow-02.png) no-repeat 0px 5px;}
.cbp-spmenu-vertical a:hover .navMenu{color:#fff;}
.cbp-spmenu a:hover {	background-color: #f0631b;}
.cbp-spmenu .selected {	background-color: #f0631b;}
.cbp-spmenu .selectedMenu {	color:#fff !important;}
.cbp-spmenu .selectedIcon {	background:url(../images/Arrow-02.png) no-repeat 0px 5px;}
.cbp-spmenu-push {	overflow-x: hidden;	position: relative;	right: 0;}
.nowplayingmobile{	display: none;}
.social-responsivenav ul{	list-style-type: none;}
.social-responsivenav ul li{	list-style-type: none;	margin-right: 10px;}
.social-responsivenav ul li a {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);    border: 0 none;    display: block;    height: 100%;    padding: 0;    width: 100%;}
.social-responsivenav ul li a:hover{	background-color: transparent;}
.top-nav-container{	width: 100%;	background-color: #d99900;	height: 50px;}
.backto{font-family:"Myriad-Pro";	text-transform:uppercase;	font-size:8px;	color:#d98b94;	line-height:1em;	font-weight:bold;}
#divFadePopUp{	background-color:#000; 	position: fixed; 	top: 0px; 	right: 0px; 	bottom: 0px; 	left: 0px; 	opacity: 0.4; 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";	filter: alpha(opacity=20);	-moz-opacity: 0.3;	-khtml-opacity: 0.3;	z-index: 30;	display:none;	height:100%;}
.videoBG{width:100%; background:#434343;}
.now-playing {    background: #FC4E07 none repeat scroll 0% 0%;    color: #FFF;    height: 22px;    padding-top: 5px;    text-align: center;    width: 82px;    font: 11px "robotoregular";    position: absolute;    top: 0px;    left: 0px;}	
.downarrow{margin-top:5px; }
.clfootertext{ padding-right: 20px;    font-size: 13px;    font-family: 'myriadwebpro';    color: #fff;    line-height: 50px;}
.main-content{width: 100%;}
.container{width:100%; max-width:1920px; margin: 0 auto; padding:0px;}
.main-container{width:100%; max-width:1260px; margin: 0 auto; padding:0px;}
.left-content{width: 835px;}
.right-content{width: 330px;}
.vid-palyer-wrapper{height: auto;overflow:hidden;}
.social-share{
	width: 35px;
	position: fixed;
	margin-right: 18px;
	float:left;
	z-index:1000;
	display:none;
}
.social-share ul li{
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:1000;
}
.social-share ul li a{
	display: block;
	z-index:1000;
}
.social-share ul li a.fb-share{
	width: 35px;
	max-height: 55px;
	background-color: #336699;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:1000;
}
.social-share ul li a.twitter-share{
	width: 35px;
	max-height: 55px;
	background-color: #00CCFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:1000;
}
.social-count{
	text-align: center;
	font-size: 10px;
	color: #ffffff;
	font-family: 'Myriad-Pro';
	z-index:1000;
}
.social-share ul li a img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:1000;
}
.vid-text-wrapper{
	padding-top: 20px;
	overflow:hidden;
}
.vid-title{
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	font-family: 'futura-bold';
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: -0.2px; 
}
.vid-desc{
	width: 100%;
	margin-top: 10px;
	color: #878787;
	font-family: 'myriadwebpro';
	line-height: 20px;
	font-size: 13px;
}
#viewCount{
	width: 100%;
	margin-top: 10px;
	color: #878787;
	font-family: 'myriadwebpro';
	line-height: 20px;
	font-size: 13px;
}
.vid-nav-wrapper{
	margin-top: 20px;
}
.no-of-likes{
	font-family: 'Myriad-Pro';
	color: #878787;
	line-height: 40px;
	font-size: 13px;
	height: 40px;
}
.vid-navigations li a{
	display: block;
	margin: 0px 5px;
}
.fb-container{
	width: 780px;
	padding: 10px 0px;
	height:400px;
	float:right;
	margin-top:40px;
}
.social-share-mobile{
	display: block;
}
.social-share-mobile ul li{
	list-style-type: none;
	height: 35px;
	float: left;
	margin: 0px 5px;
}
.social-share-mobile ul li a{
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.social-share-mobile ul li a.fb-share-mob{
	max-width: 55px;
	height: 35px;
	background-color: #336699;
}
.social-share-mobile ul li a.twitter-share-mob{
	max-width: 55px;
	height: 35px;
	background-color: #00CCFF;
}
.social-share-mobile ul li a .social-count{
	padding: 13px 6px 12px 0px;
	text-align: left;
	line-height: 1;
}
.social-share-mobile ul li a img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.whatsapp-share{
	display: block;
}
.morevidoes{
	width: 100%;
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Myriad-Pro';
	font-size: 13px;
	color: #333333;
	height: 40px;
	line-height: 40px;
	background: url('../images/downarrow.png') no-repeat right center;
	text-transform: uppercase;
	padding: 0px 18px;
	box-sizing: border-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.morevidoesOptn{
	width: 100%;
	border: 1px solid #cfcfcf;
	font-family: 'Myriad-Pro';
	font-size: 13px;
	color: #333333;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 10px 20px;
	box-sizing: border-box;
}
select::-ms-expand {
    display: none;
}
.morevidoeswrapper{
	box-sizing: border-box;
	display: block;
	margin:0px 10px;
}
.loadmore-btn{
	width: 100%;
	background-color: #ffec41;
	height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'futura-bold';
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	line-height: 40px;
	margin: 10px 0px;
	cursor: pointer;
}

/* Styling footer */


/* Styling right section */
.listings{background-color: #ffffff; padding-top:20px; margin: 0 auto; max-width: 320px;}
.listings ul li{width:280px; margin-bottom:40px; margin-left: 10px; position:relative; list-style-type: none;}
.listings ul li a{text-decoration: none; color:#333;display:block; }
.listings ul li:last-child{margin-bottom: 8px!important;}
.darkpatch{position:absolute;}
.ogpatch{position:absolute;}
.line-one{color:#333333; font:13px 'myriadwebpro'; width:100%; max-width:274px;}
.video-div{margin-bottom: 10px; position:relative; width:100%; height:158px; max-width:280px; max-height:160px; overflow: hidden;}
.ad-banner-wrapper{    background: url("../images/advertisementbg.jpg") no-repeat scroll left center transparent;    height: 260px;    margin: 40px 0;    padding: 10px 0 0 10px;    width: 300px;}
.ad-banner{}
.darkpatch{width: 100%; height: 100%; position: absolute; top:0px; left: 0px; background: url('../images/listing-hover.png') repeat top center;}


/* Styling mobile facebook widget */
.fbwidget-mobile{
	width: 100%;
	padding: 10px; 
	box-sizing: border-box;
	display: none;
}
.toggleCollapse{
	width: 100%;
	padding: 0px 20px;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;	
	background: url('../images/commentsopen.png') no-repeat right center;
	font-family: 'myriadwebpro';
	font-size: 13px;
	color: #333333;
	text-transform: uppercase;
	border: 1px solid #cfcfcf;
}
.toggleCollapse.in{
	background: url('../images/commentsclose.png') no-repeat right center;
}
.collapse{
	margin: 10px 0px;
	width: 100%;
	border: 1px solid #cfcfcf;
	background:#bbbbba;
	display: none;
	overflow:hidden;
}

.top-banner-video{ display:block;}
.morevidoes{ display:none;}
select:focus > option:checked{
	 background:#ffec41 !important;
}





@media (min-width: 200px) and (max-width: 1023px) {
    .tresemme{display:none;}
	.headerTop{height:35px; background:#222222;}
	.headerBottom{ display:none;}
	.headerBottomMob{ display:block;}
	.mT90Header{display:none;}
    .top-banner{display: none;}
    .social-area{xdisplay:none;}
	hr.line {background-color: #ffffff; height: 1px; width: 99%; display: block; margin-top: -15px; }
    .wrapper-outer{background: url("../../resources/images/phone-wrapper-bg.jpg") top repeat-x; }
    .wrapper-inner{width:94%; max-width:94%;}
    .main-banner{height:170px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
    .first-heading{display: inline; font-size: 18px; line-height: 32px; margin-top: -34px; padding: 10px 14px; width: 92%;}
    .left-pannel{ margin-top: 10px;}
	.hs1 {background-color: #3b0033; box-decoration-break: clone; -moz-box-decoration-break: clone; -webkit-box-decoration-break: clone; -o-box-decoration-break: clone; color: #fff; display: inline; font-size: 18px; line-height: 1.38; max-width: 95%; padding: 20px 10px 0px 10px; font-family:'futura-bold';}
	.headline{ position: relative; top: -16px;}
	.fb-icon{float: left; margin-right: 10px; height:15px; border-radius: 5px; width:auto; padding: 10px;}
	.tweet-icon{float: left; margin-right: 10px; height:15px; border-radius: 5px; width:auto; padding: 10px;}
	.fb-icon img{display: inline-block; margin-top: -3px;}
	.tweet-icon img{display: inline-block; margin-top: -3px;}
	.comments{float: left; height:20px; border-radius:5px; padding:7px 0px; border-radius: 5px;}
	.whatsapp{display: block; float: left; margin-right: 10px; width:35px; height:15px; background: #109d58; text-align: center; padding: 10px 0px; color:#fff; border-radius: 5px;}
	.whatsapp img{ margin-top: -3px;}
	.fb-count, .tweet-count{display: inline-block; padding-top: 2px; vertical-align: top;}
	.social-area a, .social-area-mobile a{color:#fff; text-decoration: none;}
	.social-area{display: none;}
	.social-area-mobile{display: block; margin-top: 20px;}
	.banner2, .banner3, .banner4{margin: 20px auto;}
	.banner2 img, .banner3 img, .banner4 img{width:100%; height:auto;}
    .MT10{margin: 20px auto;}
    .MT10 img{width:100%; height:auto;}
    .listings{background:none; padding-top: 0px; height: auto; max-width: 100%;}
    .listings ul li{width:100%; max-width:100%; margin-bottom:5px; margin-left: 0px;}
    .video-div{display: inline-block; margin-right: 2%; max-height: auto; height:auto;}
    .video-div img{width:100%; height:auto;}
    .video-text{width:36%; max-width:45%; display: inline-block; vertical-align: top;}
    .now-playing{ top:0;}
    .comments-box{display: none;}
    .banner{display: none;}
    .loadmore{display: block; background: #ffec41; color:#000; font:18px 'futuraDemibold'; text-transform: uppercase; border-radius: 5px; text-align: center; padding: 8px 0px;}
    .loadmore a{color:#000; text-decoration: none;}
    .ogpatch{position:inherit;}
    .darkpatch{display:none;}
    .right-pannel{background: none; xmargin-bottom: 100px; max-width:100%;}
    .border-bottom{display: none;}
    .loadmore{display: block;}
	.moreblogs{margin-bottom: 10px; margin-top:0px; padding: 10px 20px; border:1px solid #cfcfcf; border-radius: 5px;color:#333333; font:13px 'Myriad-Pro'; text-transform: uppercase; display: block;}
	.downarrow{margin-top: 3px;}
	.footer{display: none;}
	.common-area{display: block;}
    .question-panel{ width:100%; border-top:1px solid #cfcfcf; border-left:1px solid #cfcfcf; border-right:1px solid #cfcfcf; border-radius:5px; background:#fff; color:#333; margin-bottom:10px;}
    .question1{ padding:15px; font:13px 'robotoregular'; cursor:pointer; position:relative; height:20px;border-bottom: 1px solid #cfcfcf;}
    .answer{ font:13px 'robotoregular'; text-align:justify; background: #bbbbba; padding: 0px; border-top:10px solid #fff;}
    .common-area{display: block; margin-bottom: 60px; margin-top: 30px;}
    .plus{position: absolute; right:8px; top:19px;}
    .minus{position: absolute; right:8px; top:23px;}
    .removeplus{display: none;}
    .next-prev-section{float:right!important;}
    hr.line2{display: none;}
    .left-content-area{margin-left: 0px;}
    .only-mobile{display: block;}
    .ad-banner-wrapper{display:none;}
	#testDiv { height:auto !important; max-height:none !important; }
	.textAlign{text-align:center; float:none !important;}
	.fbwidget-mobile{ display: block; }
	.fb-container{ display: none; }
}
@media (max-width: 319px){
	body{display:none !important;}
}



@media (min-width: 320px) and (max-width: 479px){
	.no-of-likes{ display: none; }
	.video-div{ width: 160px; height: 90px; }
	.top-banner-video{ display:none;}
	.morevidoes{ display:block;width:100%; padding:0px 18px; }
	.social-share{display: none;}
	.social-share-mobile{display: block;}
	.main-content{/* margin-top:40px;*/background: #ffffff; }
	.header{ height:60px;}	
	.headerInner{width:94%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; width:100%; float:none; padding:10px 0px; height:40px;}
	.imgDiv{width: 100%;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.part2{ width:100%; height:40px; background-color:#79000a; }
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	.subBar{display:none;}
	.vid-palyer-wrapper{width:100%; margin:auto;}
	.main-container{width:100%; margin:auto; box-sizing:border-box;}
	.left-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.right-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.morevidoeswrapper{margin:0px;}

}

@media (min-width: 480px) and (max-width: 599px) {
    .wrapper-outer{background: url("../../resources/images/phone-wrapper-bg2.jpg") top repeat-x; }
    .main-banner{height:260px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
	.outer-bg{width:98%; /*margin-top: 78px;*/}
	.video-div{ width: 160px; height: 90px; }
	.main-content{ /*margin-top:40px;*/background: #ffffff; }
	.header{ height:60px;}
	.headerInner{width:95%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; width:100%; float:none; padding:10px 0px; height:40px;}
	.imgDiv{width: 100%;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.part2{ width:100%; height:40px; background-color:#79000a; }
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	.subBar{display:none;}
	.left-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.right-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.morevidoeswrapper{margin:0px;}

}

@media (min-width: 600px) and (max-width: 767px) {
		.main-content{ /*margin-top:40px;*/background: #ffffff; }
    .wrapper-outer{background: url("../../resources/images/phone-wrapper-bg3.jpg") top repeat-x; }
    .tresemme{display: none;}
    .tresemme-phone{display: block;}
    .main-banner{height:325px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
    .wrapper-outer{background: url("../../resources/images/phone-wrapper-bg3.jpg") top repeat-x; }
    .tresemme{display: none;}
    .tresemme-phone{display: block;}
    .main-banner{height:325px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
	.header{ height:40px;}
	.headerInner{width:97%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; float:none; padding:10px 0px; width:580px;}
	.imgDiv{width:580px;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	.subBar{display:none;}
	.left-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}	
	.right-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.morevidoeswrapper{margin:0px;}
}
@media (min-width: 768px) and (max-width: 800px) {
    .wrapper-outer{background: url("../../resources/images/phone-wrapper.png") top repeat-x; }
    .tresemme{display:none;}
    .tresemme-phone{display:block;}
    .main-banner{height:420px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
	.vid-palyer-wrapper{ height: auto; background-color: #333333;padding: 10px 10px 30px 10px; box-sizing: border-box; margin: 0px;  }
	.main-content{ /*margin-top:40px;*/ }
	.headerInner{width:97%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; float:none; padding:10px 0px;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	.section1{display:none;}
	.section2{display:none;}
	.subBar{display:none;}
	.left-content {    width: 100%;    margin: auto;    box-sizing: border-box;}	
	.right-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.morevidoeswrapper{margin:0px;}	

}

@media (min-width: 801px) and (max-width: 1023px) {
	.headerInner{width:97%; padding:0px 10px;}
	.bannerDiv{margin:0 auto; float:none; padding:10px 0px;}
	.subBar768{display:block; width:100%; height:80px; position:relative; z-index:999;}
	.part1{ width:100%; height:40px; background-color:#080810;}
	.subImg{width:200px; height:60px; margin-top:-70px; margin-left:10px;}
	.section1{display:none;}
	.section2{display:none;}
	.subBar{display:none;}
	.left-content {    width: 100%;    margin: auto;    box-sizing: border-box;}	
	.right-content {    width: 100%;    margin: auto;    box-sizing: border-box;    padding: 10px;}
	.tresemme{display:none;}
	.headerTop{height:35px; background:#222222;}
	.headerBottom{ display:none;}
	.headerBottomMob{ display:block;}
	.mT90Header{display:none;}
	.left-content-area{max-width:574px;}
	.right-pannel{background: none; xmargin-bottom: 100px; max-width:100%;}
    .social-area{display: none;}
    .social-area-mobile{display: block; margin-top: 20px;}
    .fb-icon{float: left; margin-right: 10px; height:15px; border-radius: 5px; width:auto; padding: 10px;}
    .tweet-icon{float: left; margin-right: 10px; height:15px; border-radius: 5px; width:auto; padding: 10px;}
    .fb-icon img{display: inline-block; margin-top: -3px;}
    .tweet-icon img{display: inline-block; margin-top: -3px;}
    .comments{float: left; height:20px; border-radius: 5px; padding:7px 0px;}
    .whatsapp{display: none; float: left; margin-right: 10px; width:35px; height:15px; background: #109d58; text-align: center; padding: 10px 0px; color:#fff; border-radius: 5px;}
    .whatsapp img{ margin-top: -3px;}
    .fb-count, .tweet-count{display: inline-block; padding-top: 2px; vertical-align: top;}
    .social-area a, .social-area-mobile a{color:#fff; text-decoration: none;}
    .left-content-area{margin-left: 0px; max-width: 100%;}
    .outer-bg{width:91%; /*margin-top: 29px;*/}
	.wrapper-outer{background: url("../../resources/images/phone-wrapper.png") top repeat-x; }
    .main-banner{height:420px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
	.wrapper-outer{ width:100%;}
	.left-pannel{ width:100%;}
	.main-banner { width:100%;}
	.main-banner img { width:100%; height:420px;}
	.fbwidget-mobile{ display: block; }
	.main-content{ /*margin-top:40px;*/background: #ffffff; }
	.container{ width: 100%; }
	.header-graphics{ display: none; }
	.left-content{ width: 100%; margin: 0px; }
	.vid-palyer-wrapper{ height: auto; background-color: #333333;padding: 10px 10px 30px 10px; box-sizing: border-box; margin: 0px;  }
	.vid-player{ width: 100%; }
	.vid-text-wrapper{ height: auto; }
	.fb-container{ display: none; }
	.right-content{ width: 100%; background: #ffffff !important; }
	.listings{ width:100%; padding: 0px 10px; box-sizing: border-box;height: auto; }
	.listings ul li{ width: 100%; margin: 10px 0px; float: left; }
	.video-div{ float: left;margin-bottom: 0px; }
	.video-text{ float: left; padding: 10px; box-sizing: border-box; }
	.line-one{ max-width: 100%; }
	.morevidoeswrapper{ display: block;margin:0px; }
	.ad-banner-wrapper{ display: none; }
	.top-banner-video{ display:none;}
	.morevidoes{ display:block;width:100%; padding:0px 18px; }
	.social-share{display: none;}
	.social-share-mobile{display: block;}
}


@media (min-width:1024px) and (max-width: 1279px) {
	.headerInner{width:100%;}
	.subBar{padding-left:10px;}
	.morevidoeswrapper{display:none;}
	.tresemme{display:none;}
	.headerBottomMob{ display:block;}
	.mT90Header{display:none;}
	.wrapper-inner{max-width:1000px;}
    .left-pannel{max-width:650px;}
    .left-content-area{max-width:574px;}
    .social-area{display: none;}
    .social-area-mobile{display: block; margin-top: 20px;}
    .fb-icon{float: left; margin-right: 10px; height:15px; border-radius: 5px; width:auto; padding: 10px;}
    .tweet-icon{float: left; margin-right: 10px; height:15px; border-radius: 5px; width:auto; padding: 10px;}
    .fb-icon img{display: inline-block; margin-top: -3px;}
    .tweet-icon img{display: inline-block; margin-top: -3px;}
    .comments{float: left; height:20px; border-radius: 5px; padding:7px 0px;}
    .whatsapp{display: none; float: left; margin-right: 10px; width:35px; height:15px; background: #109d58; text-align: center; padding: 10px 0px; color:#fff; border-radius: 5px;}
    .whatsapp img{ margin-top: -3px;}
    .fb-count, .tweet-count{display: inline-block; padding-top: 2px; vertical-align: top;}
    .social-area a, .social-area-mobile a{color:#fff; text-decoration: none;}
    .left-content-area{margin-left: 0px; max-width: 100%;}
    .main-banner{height:366px; overflow: hidden; text-align: center}
    .main-banner img{max-width:100%; height:auto;}
    .outer-bg{width:91%; /*margin-top: 78px;*/}
	.right-pannel{margin-left:20px;}
	.textAlign{text-align:center; float:none !important;}
	.FooterHome{width:100%;}
	.container{width: 100%; padding: 0px;}
	.left-content{width: 650px; overflow:hidden;}
	.vid-player {width: 650px;}
	.right-content{background:url('../images/listing-bg-1024.png') repeat-x top center; margin-left:25px;}
	.vid-palyer-wrapper{ height: auto; padding:20px 10px; width:780px;}
	.fb-container{ width: 650px; }
	.social-share-mobile{display: block;}
	.morevidoes{ display:block; width:95%; margin:0px auto 10px;}
	.whatsapp-share{display:none;}
	.loadmore-btn{ display:none; }
	
}

@media (min-width:1280px){
	.morevidoeswrapper{display:none;}
	.add{display:block;}
	.menu-icon{display:none;}
	.tresemme-phone{display:none;}
	.headerBottomMob{display:none;}
	.mT70Header{display:none;}
	.wrapper-outer{background: url("../../resources/images/wrapper-bg-1280.jpg") top repeat-x;}
	.right-pannel{ background: url("../../resources/images/wrapper-bg2-1280.jpg") top center repeat-x;}
	.header1024{padding-left:20px;}
	.main-container{padding-left:20px;}
	.right-content{background: url('../images/listing-bg-1024.png') repeat-x top center; margin-right:65px;}
	.morevidoes{ display:block; width:95%; margin:0px auto 10px;}
	.left-content{margin-top:20px; margin-right:20px;}	
	.social-share{display: block;}
	.social-share-mobile{display: none;}
	.vid-palyer-wrapper{ height:auto; margin-left:55px;}
	.whatsapp-share{display:none;}
	.loadmore-btn{ display:none; }	
}
